﻿@model ABATE.Washington.Core.Models.ChapterViewModel
@using ABATE.Washington.Core.Models;

@{
    ViewBag.Title = "Chapters";
}

<h2 class="text-center">ABATE of Washington Chapters</h2>
<div class="col-md-12">
    ABATE of Washington has @Model.Chapters.Count() Active chapters listed in Washington State and new chapters starting up<br />
    Chapter members meet monthly to discuss many motorcycle topics:<br />
    <ul>
        <li>Legislative and Election News</li>
        <li>Rider Education</li>
        <li>Rider Safety</li>
        <li>Runs</li>
        <li>Charity Events</li>
    </ul>


    Chapter meetings are open to anyone, members and non-members. Please join us for our next meeting near you.<br />

    To contact the ABATE of Washington State Office<br /><br />
    ABATE of Washington<br />
    P.O. Box 8369<br />
    Tacoma, WA 98419-0369<br /><br />
    ABATE of Washington Chapters are listed alphabetically below<br />
</div>
<div class="panel-group" id="accordian">
    <div class="panel panel-default">
        @foreach (Chapter chapter in Model.Chapters)
        {
            <div class="panel-heading">
                <h4><a data-toggle="collapse" data-parent="#accordian" href="#@chapter.id">@chapter.Name</a></h4><h5>Coordinator: @chapter.Coordinator</h5>
            </div>
            <div id="@chapter.id" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class="col-md-4"><h5>Address</h5><br />@chapter.Address1<br />@(!string.IsNullOrEmpty(chapter.Address2) ? chapter.Address2 : "") @chapter.City, @chapter.State @chapter.ZipCode<br />@chapter.Phone<br />  <br /> @Html.ExternalLink(chapter.WebSite, "Chapter Website", new { @target = "_blank" })  <br /> <h5>Coordinator Email:</h5> <br /> @Html.EmailLink(chapter.Email, chapter.Email)</div>
                    <div class="col-md-4"><h5>Meeting Location: @chapter.MeetingLocation</h5><br />@chapter.MeetingAddress1<br />@(!string.IsNullOrEmpty(chapter.MeetingAddress2) ? @chapter.MeetingAddress2 : "")@chapter.MeetingCity, @chapter.MeetingState @chapter.MeetingZipCode<br />@chapter.MeetingPhone<br /><br /><i>@chapter.MeetingSchedule1<br />@chapter.MeetingSchedule2</i></div>
                    <div class="col-md-4"><embed width="300" height="225" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCAS1DfItlS3Nt7NyOCPakekErNKNigzz4&q=@(HttpUtility.UrlEncode(chapter.MeetingLocationQuery))"></embed></div>
                </div>
            </div>
        }

     
    </div>
</div>
