﻿

@{
    ViewBag.Title = "Users";
}

<h2>Manage Users</h2>


<script>
    $(function () {
        var webroot = '@Url.Content("~")';


        function UserViewListModel() {
            var self = this;

            self.users = ko.observableArray();

            self.loadList = function () {
                $.getJSON('/api/Users/GetUsers', function (data) {
                    var test = JSON.stringify(data);
                    ko.mapping.fromJS(data, {}, self.users);
                });
            };

            self.putList = function () {
                var datapackage = ko.mapping.toJSON(self.objects);
                $.ajax({
                    url: webroot + 'api/Products',
                    dataType: 'json',
                    contentType: 'application/json',
                    data: datapackage,
                    type: 'POST',
                    success: function (data) {
                        alert(data);
                    },
                    error: function () {
                        alert('Wha, Wha....');
                    }
                });
            };

            return self;
        }


        var vm = new UserViewListModel();
        vm.loadList();
        ko.applyBindings(vm);

    });
</script>

