﻿
@{
    ViewBag.Title = "Membership";
}

<h2>Membership</h2>



<div class="list-group">
    <!-- ko foreach: MembershipForms -->
    <div class="list-group-item">
        <div class="row">
            <div class="col-sm-12">
                <span data-bind="text: FirstName" />
            </div>
        </div>
    </div>
    <!-- /ko -->

</div>




@section Scripts {
    @Scripts.Render("~/bundles/ko")






<script>
    $(function () {
        var webroot = '@Url.Content("~")';


        function MembershipViewModel() {
            var self = this;

            self.MembershipForms = ko.observableArray();

            self.loadList = function () {
                $.getJSON(webroot + 'api/Membership/CompletedForms', function (data) {
                    var test = JSON.stringify(data);
                    ko.mapping.fromJS(data, {}, self.MembershipForms);
                });
            };

            self.putList = function () {
                var datapackage = ko.mapping.toJSON(self.objects);
                $.ajax({
                    url: webroot + 'api/Products',
                    dataType: 'json',
                    contentType: 'application/json',
                    data: datapackage,
                    type: 'POST',
                    success: function (data) {
                        alert(data);
                    },
                    error: function () {
                        alert('Wha, Wha....');
                    }
                });
            };

            return self;
        }


        var vm = new MembershipViewModel();
        vm.loadList();
        ko.applyBindings(vm);

    });
</script>
}