﻿@{
    ViewBag.Title = "About";
}

<h2 class="text-center">What Is A.B.A.T.E.</h2>
<div class="row">
    <strong>A Brotherhood Against Totalitarian Enactments</strong>
    <br />
    <br />
    ABATE is a nonprofit organization dedicated to the Freedom of the Road. Ensure your freedom by fighting anti-bike legislation and promoting fair motorcycle legislation. ABATE does not advocate that you ride without a helmet when the law is repealed, only that you have the right to decide.
    <br />
    <br />
    The structure of ABATE is very basic: Members. Membership is open to anyone interested in promoting freedom of choice, whether you own or ride a motorcycle, or not. The wishes of the members are carried out by their elected board of directors in their local chapter, or through their representatives to the state organization.
    <br />
    <br />
    <strong>Goals and Purposes</strong>
    <ul>
        <li>Keeping bikers and members informed through our monthly newsletter and the media.</li>
        <li>To encourage motorcycle enthusiasts to register and vote.</li>
        <li>To promote safe riding habits.</li>
        <li>To encourage favorable legislation for bikers.</li>
        <li>To provide monthly meetings, events, runs, contests, and community action projects.</li>
    </ul>
</div>

