﻿@{
    ViewBag.Title = "History";
}

<h2 class="text-center">The History of ABATE of Washington</h2>

<div class="row">
    <div class="col-lg-12">
        
        <p>ABATE of Washington started out as just ABATE as an extension of what was being done in California and a few other states. Lou Kimzey along with others of Paisano publications saw the need for a motorcycle rights organization which they called ABATE standing for A Brotherhood Against Totalitarian Enactments. Their idea was to get members in every state because the only way to get something accomplished in any legislation was by having the numbers. This is where we come in, around 1975 a member of the Outsiders M/C Gordy and an acquaintance Shawn brought the idea to Washington and started by enlisting the help of fellow members of the Outsiders M/C and there in the Outsiders club house was the beginning of ABATE in Washington. It then spread out to the independent riders and other clubs around Washington. At this time there were no chapters, it was just the state. The State Coordinator was H.K. (Howard Kummar) a member of the Outsiders M/C, State Deputy Coordinator was Greg Walker, Treasurer was Lowell Magoon, and Secretary was Harold Corley, these were our first state officers.</p>
        <p>Around the end of 1978 ABATE in Washington started becoming ABATE of Washington. Enter Jerry Westfall, Jerry was the first elected state coordinator. On Super Bowl Sunday in January of 1979 ABATE had a meeting at the Sherwood Inn in Federal Way, at that time they decided to become ABATE of Washington and to become incorporated. Also at this meeting they decided to make ABATE of Washington a chapter run organization rather than just a state organization, so this is where the chapters start. The first chapters after becoming incorporated were Seattle Chapter, Bremerton Chapter, Vancouver Chapter, Mason County Chapter, Tacoma Chapter, Auburn Chapter, Lewis County Chapter, Olympia Chapter, Grays Harbor Chapter, Tri-Cities Chapter, and Bellingham Chapter.   On March 21, 1979 ABATE of Washington became a 501c4 not for profit motorcycle rights organization, this is our official birthday as ABATE of Washington. In 1980 ABATE of Washington hired a lawyer to help create a set of bylaws and policies, these are basically the same by laws and policies we use today. This is only our beginning so there will be more to come.</p>



        @*<p>
            <strong>Originally published in the October 1971 issue of Easyriders Magazine</strong>
        </p>
        <p>
            You, as an individual, can stand on your roof-top shouting to the world about how unjust, how stupid, and how unconstitutional some of the recently passed, or pending, bike laws are - but all you will accomplish is to get yourself arrested for disturbing the peace.
        </p>
        <p>
            Individual bike clubs can go before city councils, state legislatures, and congressional committees, but as single clubs, and unprofessional at the game of politics, their efforts are usually futile.
        </p> <p>
            Scattered, unorganized, individual efforts have little if any effect against the power structure - it's like hunting big game with a bolt-action .22 rifle.
        </p>        <p>
            It takes numbers to command respect, to be heard over the din created by the anti-bikers, and worse, the anti-chopper forces.
        </p><p>
            The major problem is not any particular anti-bike movement or organization - the problem is that the people who make the laws are people who know nothing about bikes. The little old lady writes her congressman and complains. There is no one offering rebuttal-intelligent, professional rebuttal-to her unfair charges. The congressman, who doesn't hear any arguments against what the old lady said, but does want to please everybody and does want to get elected again, introduces a bill to ban whatever was bugging the old lady. The bikers in the area don't see the small item, buried in the back of the newspaper along with the hemorrhoid cures, announcing the proposed law for all bikes to have roll bars. Since no one sees it, no rebuttal is offered, and the law is passed. Or if it is seen, and a club or two protest, it isn't a loud enough protest, or it is a disorganized protest, or an unprofessional protest, and as a result the law is passed.
        </p><p>
            An oversimplification, yes. But that basically is the problem broken down into its simplest terms.
        </p>

        <p>
            We need a national organization of bikers. An organization united together in a common endeavor, and in sufficient numbers to be heard in Washington, D.C., in the state legislatures, and even down to the city councils.
        </p><p>
            We must offer strong, organized rebuttal to all unfair legislation, no matter what the level. To stop or modify an unfair law in one state is to stop or impede it in another. If it's wrong, it's wrong, and only constant, relentless pressure will stop the trend against bikes. Today it might be Arizona, but tomorrow it might be your state. We must start now to put a stop to bad laws. We must educate the people who make the laws. We must present our side of the story, and we must present it from a position of strength, and in a professional, dignified manner.
        </p><p>
            Already the Government has indicated they are going to press for national custom bike laws ("Safety Standards") for, you guessed it, our safety. The Department of Transportation has already issued printed warnings against the "danger" of extended front ends, lack of front-wheel brakes, "and other hazardous features of customized motorcycles."
        </p><p>
            We're not saying they are all wrong-nobody is all wrong. But what we are saying is that we, us, you and I, bike riders. Chopper builders, chopper manufacturers, everyone with an interest in the future of bikes, must present our side, we must see to it that any laws that are passed are just. We must present our case and defend it vigorously.
        </p><p>
            What can you do? Join the National Custom Cycle Association (NCCA). Let's get together in a mass, so that our voice means something, has the weight and strength of numbers.
        </p><p>
            The NCCA is a non-profit organization, sponsored by Easyriders magazine. It's not a scam. If what has been said above doesn't get you off your ass, if you don't see the pending arbitrary laws, if you don't see that an organized protest is much more effective than a shotgun approach, then what else can we say?
        </p><p>
            When you join the NCCA, you'll receive a decal, membership card, and NCCA's monthly bulletin bringing you up to date on all bike laws, pending bike laws, and reports on NCCA's progress and activities.
        </p><p>
            Send $3.00 for a year's charter membership, to the National Custom Cycle Association . . .
        </p><p>
            Do it now, for as Satchel Paige said, "Don't look back, sump'n may be gaining on you."
        </p>


        <em>© Copyright 1971 Easyriders Magazine (October)</em>*@
    </div>
</div>