﻿
@model ABATE.Washington.Web.Models.HomeView
@{
    ViewBag.Title = "ABATE of Washington";
}
@*<div class="jumbotron">
        <h1>ASP.NET</h1>
        <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
        <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    </div>*@
@*<div class="row">
        <div class="col-sm-2">
            <h3>Upcoming Events</h3>
            <p>Here you can see upcoming events</p>
        </div>
        <div class="col-md-8">
            <h3>Announcement Area</h3>
            <p>This is where the announcements and event slider will go.</p>
        </div>

    </div>*@
@*<div class="row">
    <div class="col-md-12">
        <div class="jumbotron jumbotron-fluid alert-info">
            <h4 class="alert-info" style="text-align: center;">Upcoming Black Thursday is scheduled for January 21st, 2021.  A detailed agenda is in the works.  Please manage  your schedule so that you can attend the upcoming Black Thursday event!</h4>
        </div>
    </div>
</div>*@
<div class="row">
    <div class="col-sm-4">
        <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="7500">
            <ol class="carousel-indicators">
                @{
                        var first = true;
                        int i = 0;
                        foreach (var bannerSlide in Model.BannerSlides)
                        {
                            var style = "";
                            if (first) { style = "active"; } else { style = ""; }
                        <li data-target="#myCarousel" data-slide-to="@i" class="@style"></li>
                        first = false;
                        i++;

                    }
                }

            </ol>
            <div class="carousel-inner" role="listbox">
                @{
                    first = true;
                    foreach (var bannerSlide in Model.BannerSlides)
                    {
                        var style = "item";
                        if (first) { style = "item active"; } else { style = "item"; }
                        <div class="@style">
                            <a href="@bannerSlide.Url" target="_blank"><img src="@bannerSlide.ImagePath" alt="@bannerSlide.Caption" /></a>
                        </div>
                        first = false;

                    }
                }
            </div>

        </div>
        <!-- Left and right controls -->
        @* <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>*@
    </div>
    <div class="col-sm-8">
        <div class="row">
            <div class="col-sm-12">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/tAg-bTJ3QR0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                @*<iframe width="560" height="315" src="https://www.youtube.com/embed/w53pp4CUHpQ" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>*@
                @*<p>
                        Help be a voice for the motorcyclist. Click @Html.ActionLink("here", "Join", "Home") to find out more!
                    </p>*@
                @*<p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>*@
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                @*<p>Members!!!</p>


                    <p>SB 6565 is making some progress in the House!!  Our Parking Bill, 6565, has advanced to the Floor and now needs to be put on Order of Consideration and voted out.</p>

                    <p><strong>Now is the time to contact your Representatives -both email and phone calls - and insist that this Bill, 6565 get put on Order of Consideration for its final vote!!</strong></p>

                    <p>You can easily find your Representatives information by going to www.leg.gov and clicking on District Finder on the menu.</p>

                    <p>This <strong>Friday MARCH 6</strong> - is the last day to hear bills this short session!!!</p>

                    <p>We are so very close - let's make a final BIG push!</p>

                    <p>Members of the Rules Committee are:</p>

                    <div>
                        <table style="width: 100%;">
                            <tr><th>Name</th><th>Location</th><th>Phone</th></tr>
                            <tr><td><a href='http://leg.wa.gov/house/representatives/pages/default.aspx#Jinkins' target='_blank'>Jinkins, Laurie (D) Chair</a></td><td>339C Legislative Building</td><td>(360) 786-7930</td></tr>
                            <tr><td><a href='http://leg.wa.gov/house/representatives/pages/default.aspx#Bergquist' target='_blank'>Bergquist, Steve (D)</a></td><td>322 John L. O'Brien Building</td><td>(360) 786-7862</td></tr>
                            <tr><td><a href='http://leg.wa.gov/house/representatives/pages/default.aspx#Chambers' target='_blank'>Chambers, Kelly (R)</a></td><td>426 John L. O'Brien Building</td><td>(360) 786-7948</td></tr>
                            <tr><td><a href='http://leg.wa.gov/house/representatives/pages/default.aspx#Chapman' target='_blank'>Chapman, Mike (D)</a></td><td>132B Legislative Building</td><td>(360) 786-7916</td></tr>
                            <tr><td><a href='http://leg.wa.gov/house/representatives/pages/default.aspx#Corry' target='_blank'>Corry, Chris (R)</a></td><td>411 John L. O'Brien Building</td><td>(360) 786-7810</td></tr>
                            <tr><td><a href='http://leg.wa.gov/house/representatives/pages/default.aspx#Davis' target='_blank'>Davis, Lauren (D)</a></td><td>331 John L. O'Brien Building</td><td>(360) 786-7910</td></tr>
                            <tr><td><a href='http://leg.wa.gov/house/representatives/pages/default.aspx#Frame' target='_blank'>Frame, Noel (D)</a></td><td>319 John L. O'Brien Building</td><td>(360) 786-7814</td></tr>
                            <tr><td><a href='http://leg.wa.gov/house/representatives/pages/default.aspx#Gildon' target='_blank'>Gildon, Chris (R)</a></td><td>409 John L. O'Brien Building</td><td>(360) 786-7968</td></tr>
                            <tr><td><a href='http://leg.wa.gov/house/representatives/pages/default.aspx#Harris' target='_blank'>Harris, Paul (R)</a></td><td>426A Legislative Building</td><td>(360) 786-7976</td></tr>
                            <tr><td><a href='http://leg.wa.gov/house/representatives/pages/default.aspx#Kretz' target='_blank'>Kretz, Joel (R)</a></td><td>335A Legislative Building</td><td>(360) 786-7988</td></tr>
                            <tr><td><a href='http://leg.wa.gov/house/representatives/pages/default.aspx#Lovick' target='_blank'>Lovick, John (D)</a></td><td>430 Legislative Building</td><td>(360) 786-7804</td></tr>
                            <tr><td><a href='http://leg.wa.gov/house/representatives/pages/default.aspx#Maycumber' target='_blank'>Maycumber, Jacquelin (R)</a></td><td>425B Legislative Building</td><td>(360) 786-7908</td></tr>
                            <tr><td><a href='http://leg.wa.gov/house/representatives/pages/default.aspx#Morgan' target='_blank'>Morgan, Melanie (D)</a></td><td>417 John L. O'Brien Building</td><td>(360) 786-7906</td></tr>
                            <tr><td><a href='http://leg.wa.gov/house/representatives/pages/default.aspx#Ortiz-Self' target='_blank'>Ortiz-Self, Lillian (D)</a></td><td>420 John L. O'Brien Building</td><td>(360) 786-7972</td></tr>
                            <tr><td><a href='http://leg.wa.gov/house/representatives/pages/default.aspx#Orwall' target='_blank'>Orwall, Tina (D)</a></td><td>326 John L. O'Brien Building</td><td>(360) 786-7834</td></tr>
                            <tr><td><a href='http://leg.wa.gov/house/representatives/pages/default.aspx#Pettigrew' target='_blank'>Pettigrew, Eric (D)</a></td><td>434B Legislative Building</td><td>(360) 786-7838</td></tr>
                            <tr><td><a href='http://leg.wa.gov/house/representatives/pages/default.aspx#Riccelli' target='_blank'>Riccelli, Marcus (D)</a></td><td>434A Legislative Building</td><td>(360) 786-7888</td></tr>
                            <tr><td><a href='http://leg.wa.gov/house/representatives/pages/default.aspx#Rude' target='_blank'>Rude, Skyler (R)</a></td><td>122G Legislative Building</td><td>(360) 786-7828</td></tr>
                            <tr><td><a href='http://leg.wa.gov/house/representatives/pages/default.aspx#Springer' target='_blank'>Springer, Larry (D)</a></td><td>132E Legislative Building</td><td>(360) 786-7822</td></tr>
                            <tr><td><a href='http://leg.wa.gov/house/representatives/pages/default.aspx#Stonier' target='_blank'>Stonier, Monica Jurado (D)</a></td><td>436A Legislative Building</td><td>(360) 786-7872</td></tr>
                            <tr><td><a href='http://leg.wa.gov/house/representatives/pages/default.aspx#Sullivan' target='_blank'>Sullivan, Pat (D)</a></td><td>339A Legislative Building</td><td>(360) 786-7858</td></tr>
                            <tr><td><a href='http://leg.wa.gov/house/representatives/pages/default.aspx#Sutherland' target='_blank'>Sutherland, Robert (R)</a></td><td>405 John L. O'Brien Building</td><td>(360) 786-7967</td></tr>
                            <tr><td><a href='http://leg.wa.gov/house/representatives/pages/default.aspx#Volz' target='_blank'>Volz, Mike (R)</a></td><td>427 John L. O'Brien Building</td><td>(360) 786-7922</td></tr>
                            <tr><td><a href='http://leg.wa.gov/house/representatives/pages/default.aspx#Wilcox' target='_blank'>Wilcox, J.T. (R)</a></td><td>335C Legislative Building</td><td>(360) 786-7912</td></tr>
                            <tr><td><a href='http://leg.wa.gov/house/representatives/pages/default.aspx#Wylie' target='_blank'>Wylie, Sharon (D)</a></td><td>414 John L. O'Brien Building</td><td>(360) 786-7924</td></tr>
                        </table>
                    </div>
                    <br />
                    <p>
                        Louise Bentley <br />
                        &<br />
                        Brian Lange<br />
                        Legislative Affairs Officers<br />
                        253-495-3624
                    </p>*@
                @*<div class="col-sm-6">
                        @using (var carousel = Html.Bootstrap().Begin(new Carousel("carousel1", interval: 7000)))
                        {
                            using (var item = carousel.ItemWithCaption("~/Content/images/ui-icons_ffffff_256x240.png", "Green"))
                            {
                                <h4>This is Green</h4>
                                <p>Green is nice</p>
                            }
                            using (var item = carousel.ItemWithCaption("~/Content/images/ui-icons_ffffff_256x240.png", "Blue", new { @style = "margin-top: 0px;" }))
                            {
                                <div >
                                    <h4>This is Blue</h4>
                                    <p>Blue is nice</p>
                                </div>
                            }
                        }
                    </div>*@

                <div class="row">
                    <div class="col-md-12">

                        <h1>TESTIFY REMOTELY FOR 2021 BILLS</h1>
                        <p>
                            log on to <a href="https://leg.wa.gov">https://leg.wa.gov</a><br />
                            click on (from right hand column)  Participating In Committee Hearings<br />
                            click on box marked Register to Testify Remotely During a Hearing<br />
                            choose either House  Senate  or Joint  (our Bills are currently in the House)<br />
                            The Page for Committee Sign in  Will Appear<br />
                            Click on Transportation under the Committee option<br />
                            Click on 2/4/2021 under the Meeting option<br />
                            Select HB 1254 Right Hand Shoulder Riding for Motorcycles<br />
                        </p>
                        <p>
                            Options will appear so you may either testify, submit a written testimony (be brief and succinct) or to mark a vote in Favor of this Bill.<br />
                            Step by step instructions are included on this page<br />
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">

                        <h3>Welcome</h3>
                        <p>ABATE is a non-profit organization dedicated to the Freedom of Choice.</p>
                        <p>Membership is open to anyone interested in promoting freedom of the roads, whether you ride a motorcycle or not.</p>
                        <p>Ensure your freedom by fighting anti-bike legislation and promoting fair motorcycle legislation.</p>
                        <p>ABATE does not advocate that you ride without a helmet when the law is repealed, only that you have the right to decide.</p>

                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <h3>Join ABATE</h3>
                        <p>
                            Help be a voice for the motorcyclist. Click @Html.ActionLink("here", "Join", "Home") to find out how to join!
                        </p>

                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <h3>Find your Legislators</h3>
                        <p>
                            Your legislators work for you, don't be afraid to contact them.  They are your representation in the government.  Exercise your right to petition the government.

                            Find out who your legislators are. Click @Html.ExternalLink("http://app.leg.wa.gov/districtfinder/", "here", new { target = "_blank" }) to search by your address!
                        </p>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@*<div class="jumbotron">Make your voice heard! Come on down Black Thursday (January 21st) and speak to your representatives.  Determine @Html.ActionLink("here", "BlackThursday", "Legislative") if there's an appointment already.  If you've made one please let the @Html.EmailLink("legislative1@abate-wa.org", "Legislative Affairs Officer") know so we can keep this list up to date! <br /><br /> You can also download the legislative packet here:  @Html.ActionLink("Legislative Documents","Documents","Legislative")</div>*@