﻿
@{
    ViewBag.Title = "Legal Disclaimer";
}

<h2 class="text-center">Legal Disclaimer</h2>
<div class="row">
    <div class="col-lg-12">
        <p>
            We make every effort to provide correct information on this site. However, the legal landscape surrounding ABATE’s issues and agenda is fluid and subject to a MANY of political and personal influences. Therefore, any and all information you LEARN from this site should be independently verified. Nothing found throughout this ABATE of Washington website is meant to be construed as legal advice.
        </p>
    </div>
</div>