﻿@{
    ViewBag.Title = "Contacts";
}

<h2>Contacts</h2>

<div class="row">
    <div class="col-md-12">
        <h4>State Officers</h4>
    </div>

    @* Column Headers *@
    <div class="col-md-12">

        <div class="row"><div class="col-md-3"><h5>Position</h5></div>	<div class="col-md-3"><h5>Name</h5></div>	<div class="col-md-3"><h5>Phone</h5></div>	<div class="col-md-3"><h5>Email</h5></div></div>
        <div class="row"><div class="col-md-3">State Office</div>	<div class="col-md-3">ABATE OF WASHINGTON</div>	<div class="col-md-3">253-326-5201</div>	<div class="col-md-3"><a href="mailto:abate@abate-wa.org">abate@abate-wa.org</a></div></div>
        <div class="row"><div class="col-md-3">State Coordinator</div>	<div class="col-md-3">Scott Robinson</div>	<div class="col-md-3">509-250-2001</div>	<div class="col-md-3"><a href="mailto:coordinator@abate-wa.org">coordinator@abate-wa.org</a></div></div>
        <div class="row"><div class="col-md-3">Senior Deputy Coordinator</div>	<div class="col-md-3">Chris Varner</div>	<div class="col-md-3">360-440-1344</div>	<div class="col-md-3"><a href="mailto:deputyw@abate-wa.org">deputyw@abate-wa.org</a></div></div>
        <div class="row"><div class="col-md-3">Junior Deputy Coordinator</div>	<div class="col-md-3">Jim McVey </div>	<div class="col-md-3"></div>	<div class="col-md-3"><a href="mailto:deputye@abate-wa.org">deputye@abate-wa.org</a></div></div>
        <div class="row"><div class="col-md-3">State Secretary</div>	<div class="col-md-3">Steve Carlsberg</div>	<div class="col-md-3">360-402-5044</div>	<div class="col-md-3"><a href="mailto:secretary@abate-wa.org">secretary@abate-wa.org</a></div></div>
        <div class="row"><div class="col-md-3">State Treasurer</div>	<div class="col-md-3">Koeta Imhof</div>	<div class="col-md-3">253-845-7013</div>	<div class="col-md-3"><a href="mailto:treasurer@abate-wa.org">treasurer@abate-wa.org</a></div></div>
        <div class="row"><div class="col-md-3">State NCOM Ambassador</div>	<div class="col-md-3">Sam Bonomo</div>	<div class="col-md-3"></div>	<div class="col-md-3"><a href="mailto:ambassadorNCOM@abate-wa.org">ambassadorNCOM@abate-wa.org</a></div></div>
        <div class="row"><div class="col-md-3">State Ambassador At Large</div>	<div class="col-md-3">Alan Alder</div>	<div class="col-md-3"></div>	<div class="col-md-3"><a href="mailto:ambassadorATLARGE@abate-wa.org">ambassadorATLARGE@abate-wa.org</a></div></div>
    </div>
    <div class="col-md-12">
        <h4>Chairmen and Committees</h4>
    </div>
    <div class="col-md-12">
        <div class="row"><div class="col-md-3"><h5>Committee</h5></div>	<div class="col-md-3"><h5>Chair Person / Members</h5></div>	<div class="col-md-3"><h5>Phone</h5></div>	<div class="col-md-3"><h5>Email</h5></div></div>

        <div class="row"><div class="col-md-3">State By-Laws</div>	<div class="col-md-3">Barb Hunter</div>	<div class="col-md-3"></div>	<div class="col-md-3"><a href="mailto:bylaws@abate-wa.org  ">bylaws@abate-wa.org  </a></div></div>
        <div class="row"><div class="col-md-3">State Chaplain</div>	<div class="col-md-3">Sam Bonomo</div>	<div class="col-md-3"></div>	<div class="col-md-3"><a href="mailto:chaplain@abate-wa.org">chaplain@abate-wa.org</a></div></div>
        <div class="row"><div class="col-md-3">State Assistant Chaplain</div>	<div class="col-md-3">Rod Tubbs</div>	<div class="col-md-3">360-387-3236</div>	<div class="col-md-3"><a href="mailto:chaplainASST@abate-wa.org">chaplainASST@abate-wa.org</a></div></div>
       @* <div class="row"><div class="col-md-3">Chief of Security</div>	<div class="col-md-3">Jason McCarter</div>	<div class="col-md-3">425-343-2554</div>	<div class="col-md-3"><a href="mailto:chiefofsecurity@abate-wa.org">chiefofsecurity@abate-wa.org</a></div></div>*@
        <div class="row"><div class="col-md-3">State Sergeant At Arms</div>	<div class="col-md-3">Travis Herseim</div>	<div class="col-md-3"></div>	<div class="col-md-3"><a href="mailto:sergeantatarms@abate-wa.org">sergeantatarms@abate-wa.org</a></div></div>
        <div class="row"><div class="col-md-3">Citations Officer</div>	<div class="col-md-3">John Lawson </div>	<div class="col-md-3"></div>	<div class="col-md-3"><a href="mailto:citationsofficer@abate-wa.org">citationsofficer@abate-wa.org</a></div></div>
        <div class="row"><div class="col-md-3">Insurance</div>	<div class="col-md-3">Anna Jewel</div>	<div class="col-md-3"></div>	<div class="col-md-3"><a href="mailto:abate@abate-wa.org">abate@abate-wa.org</a></div></div>
        <div class="row"><div class="col-md-3">State Auditor</div>	<div class="col-md-3"></div>	<div class="col-md-3"></div>	<div class="col-md-3"><a href="mailto:stateauditor@abate-wa.org">stateauditor@abate-wa.org</a></div></div>
        <div class="row"><div class="col-md-3">State Book Keeper</div>	<div class="col-md-3">Koeta Imhof</div>	<div class="col-md-3">253-845-7013</div>	<div class="col-md-3"><a href="mailto:bookeeper@abate-wa.org">bookeeper@abate-wa.org</a></div></div>
        <div class="row"><div class="col-md-3">Safety & Education</div>	<div class="col-md-3">-OPEN-</div>	<div class="col-md-3"></div>	<div class="col-md-3"><a href="mailto:safety_education@abate-wa.org">safety_education@abate-wa.org</a></div></div>
        <div class="row"><div class="col-md-3">Fall Bash</div>	<div class="col-md-3">-OPEN-</div>	<div class="col-md-3">253-475-4944</div>	<div class="col-md-3"><a href="mailto:fallbash@abate-wa.org">fallbash@abate-wa.org</a></div></div>
        <div class="row"><div class="col-md-3">State Legislative Affairs</div>	<div class="col-md-3">Louise Bentley</div>	<div class="col-md-3"></div>	<div class="col-md-3"><a href="mailto:legislative1@abate-wa.org">legislative1@abate-wa.org</a></div></div>
        <div class="row"><div class="col-md-3">State Membership</div>	<div class="col-md-3">Greg Hansen</div>	<div class="col-md-3">360-229-6653</div>	<div class="col-md-3"><a href="mailto:membership@abate-wa.org">membership@abate-wa.org</a></div></div>
        <div class="row"><div class="col-md-3">State Newsletter Editor </div>	<div class="col-md-3">Tina Lawson</div>	<div class="col-md-3"></div>	<div class="col-md-3"><a href="mailto:newsletter@abate-wa.org">newsletter@abate-wa.org</a></div></div>
        <div class="row"><div class="col-md-3">State Parliamentarian</div>	<div class="col-md-3">Andy McAfee</div>	<div class="col-md-3"></div>	<div class="col-md-3"><a href="mailto:parliamentarian@abate-wa.org">parliamentarian@abate-wa.org</a></div></div>
        <div class="row"><div class="col-md-3">State Products</div>	<div class="col-md-3">Cheryl Holtquist</div>	<div class="col-md-3">907-414-2070</div>	<div class="col-md-3"><a href="mailto:products@abate-wa.org">products@abate-wa.org</a></div></div>
        <div class="row"><div class="col-md-3">State Quartermaster</div>	<div class="col-md-3">Lyle Coyle</div>	<div class="col-md-3"></div>	<div class="col-md-3"><a href="mailto:quartermaster@abate-wa.org">quartermaster@abate-wa.org</a></div></div>

        <div class="row"><div class="col-md-3"><h5>Public Relations</h5></div>	<div class="col-md-3"><h5>Members</h5></div>	<div class="col-md-3"><h5>Phone</h5></div>	<div class="col-md-3"><h5>EMail</h5></div></div>

        <div class="row"><div class="col-md-3">Public Relations Officer</div>	<div class="col-md-3">Susan Carson</div>	<div class="col-md-3"></div>	<div class="col-md-3"><a href="mailto:pr1@abate-wa.org">pr1@abate-wa.org</a></div></div>
        <div class="row"><div class="col-md-3">Communications Officer</div>	<div class="col-md-3">Warner (G-Man) Gilbert</div>	<div class="col-md-3">253-224-3273</div>	<div class="col-md-3"><a href="mailto:com1@abate-wa.org">com1@abate-wa.org</a></div></div>
        <div class="row"><div class="col-md-3">WebMaster</div>	<div class="col-md-3">Leon "Tread" Staub</div>	<div class="col-md-3">253-359-5956</div>	<div class="col-md-3"><a href="mailto:webmaster@abate-wa.org">webmaster@abate-wa.org</a></div></div>
        <div class="row"><div class="col-md-3">Spring/Fall Swap Meet</div>	<div class="col-md-3">Jenny Rogers</div>	<div class="col-md-3"></div>	<div class="col-md-3"><a href="mailto:swapmeet@abate-wa.org">swapmeet@abate-wa.org</a></div></div>
        <div class="row"><div class="col-md-3">ABATE OF WASHINGTON</div>	<div class="col-md-3">Scott Robinson / Officer in Charge</div>	<div class="col-md-3">509-305-1363</div>	<div class="col-md-3"><a href="mailto:deputye@abate-wa.org">deputye@abate-wa.org</a></div></div>
        <div class="row"><div class="col-md-3">Spring Opener Committee</div>	<div class="col-md-3">Jimmy George / Committee Chair Person </div>	<div class="col-md-3">253-678-1713</div>	<div class="col-md-3"><a href="mailto:jamesgeorge5@comcast.net ">jamesgeorge5@comcast.net </a></div></div>
        <div class="row"><div class="col-md-3">Members & Workers</div>	<div class="col-md-3">Koeta Imhof / Jimmy George / Event Vendors</div>	<div class="col-md-3"></div>	<div class="col-md-3"><a href="mailto:treasurer@abate-wa.org">treasurer@abate-wa.org</a></div></div>
        <div class="row"><div class="col-md-3">Black Thursday Committee</div>	<div class="col-md-3">Louise Bentley / Committee Chair Person </div>	<div class="col-md-3"></div>	<div class="col-md-3"><a href="mailto:legislative1@abate-wa.org ">legislative1@abate-wa.org </a></div></div>
    </div>
    <div class="col-md-12">
        <h4>Chapter Representatives</h4>
    </div>
    <div class="col-md-12">
        <div class="row"><div class="col-md-3"><h5>Chapters</h5></div>	<div class="col-md-3"><h5>Name</h5></div>	<div class="col-md-3"><h5>Phone</h5></div>	<div class="col-md-3"><h5>Email</h5></div></div>

        <div class="row">
            <div class="col-md-3">
                <h5>Position 1</h5>
                Columbia Gorge,<br />
                Inland Empire, Kittitas County,<br />
                Tri-Cities<br />
            </div>	<div class="col-md-3">Kat Bolton</div>	<div class="col-md-3"></div>	<div class="col-md-3"><a href="mailto:chaprep1@abate-wa.org">chaprep1@abate-wa.org</a></div>

        </div>
        <div class="row">

            <div class="col-md-3">
                <h5>Position 2</h5>
                Grays Harbor<br />
                Lewis County, Pacific County, Elk Country<br />

            </div>	<div class="col-md-3">- OPEN -</div>	<div class="col-md-3"></div>	<div class="col-md-3"><a href="mailto:chaprep2@abate-wa.org">chaprep2@abate-wa.org</a></div>
        </div>
        <div class="row">


            <div class="col-md-3">
                <h5>Position 3</h5>
                East Pierce County, Rat City<br />
                South King County, Spanaway, Tacoma<br />

            </div>	<div class="col-md-3">Billy De Hunter</div>	<div class="col-md-3"></div>	<div class="col-md-3"><a href="mailto:chaprep3@abate-wa.org">chaprep3@abate-wa.org</a></div>

        </div>
        <div class="row">

            <div class="col-md-3">
                <h5>Position 4</h5>
                North Snohomish County, Sky Valley<br />
            </div>	<div class="col-md-3">-OPEN-</div>	<div class="col-md-3"></div>	<div class="col-md-3"><a href="mailto:chaprep4@abate-wa.org">chaprep4@abate-wa.org</a></div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <h5>Position 5</h5>
                Mason County, Olympia, North Kitsap<br />
                North Olympic, Key Peninsula<br />
            </div>	<div class="col-md-3">Chad Holtquist</div>	<div class="col-md-3">360-265-9777</div>	<div class="col-md-3"><a href="mailto:chaprep5@abate-wa.org">chaprep5@abate-wa.org</a></div>

        </div>
    </div>
</div>
