﻿
@{
    ViewBag.Title = "Meetings";
}

<h2 class="text-center">State Meetings</h2>
<div class="row">
    <div class="col-md-6">
        <h4>Board of Directors Meetings</h4>

        <p>
            Next Meeting: January 11<br />
            Hosted by: South King County Chapter<br />
             <br />
        </p>
        <p>
            Location: <br />
            American Legion Post #19 <br />
            3224 NE 12th Street <br />
            Renton, WA 98056 <br />
        </p>


        <h4>2020 Board of Directors Meeting Schedule</h4>
        <p>
            January 11 - South King County Chapter<br />
            @*April 20 - Elk Country<br />
            July 20 - Grant County<br />
            October 20 - Kittitas<br />*@
            <br />
        </p>

    </div>
    <div class="col-md-6">

        <h4>Executive Committee Meetings (ECOM)</h4>

        <p>
            Start at 11:00 AM<br />
            Paradise Lanes 12505 Pacific Ave S, Tacoma, WA 98444<br />
            Phone # <a href="tel://253-537-6012">(253) 537-6012</a><br />
        </p>

        <h4>Executive Committee Meeting Schedule</h4>
        <p>
          March 8, 2020<br />
        </p>
    </div>
</div>


