﻿
/*! normalize.css v2.1.0 | MIT License | git.io/normalize */
body {
    padding-top: 0px;
    padding-bottom: 20px;
    font-family: "Droid Sans", sans-serif;
    /*font-family: "Fjalla One", sans-serif;*/
}

.header {
    font-family: "Fjalla One", sans-serif;
}
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.center {
    text-align: center;
}


/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 50px;
}


.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    font-family: "Fjalla One", sans-serif;
    
}

    .footer a, .footer a:hover{
        color: #333333;
        text-decoration: none;
    }


@media (min-width: 768px) {
    .footer {
        background-color: #414042;
        color: #E5E5E5;
        line-height: 50px;
        height: 50px;
    }

        .footer a, .footer a:hover {
            color: #e5e5e5;
            text-decoration: none;
        }
}
/* Spring Opener styles
-------------------------------------------------- */
#sidebar {
    margin-right: 20px;
}
#sidebar ul {
    padding: 0;
    margin: 0;
}
#sidebar ul li {
    list-style: none;
    font-family: "Fjalla One", sans-serif;
    border-bottom: 1px solid #fff;
    background-color: #efefef;
    font-size: 16px;
}

#sidebar ul li a {
    display: block; 
    background-color: #efefef;
    color: #414042;
    text-align: left;
    padding: 10px;
}

#sidebar ul li a:hover {
    background-color: #1C75BC;
    color: #fff;
    text-decoration: none;
}

#SO-date {
    border-right: 1px solid #eee;
    min-height: 300px;
}

span.time { 
    font-weight: bold; 
    color: #1C75BC;
}

.row {
    margin: 5px, 0, 5px, 0;
}