﻿@model ABATE.Washington.Core.Models.Citation

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
            
            <fieldset>
                <legend></legend>
                <div class="row">
                    <div class="col-md-3" style="padding: 10px;">
                        @Html.LabelFor(model => model.CitationNumber, "Citation Number")
                    </div>
                    <div class="col-md-9" style="padding: 10px;">
                        @Html.DisplayFor(model => model.CitationNumber, new { @placeholder = "Citation Number" })
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3" style="padding: 10px;">
                        @Html.LabelFor(model => model.CodeCited, "Code Cited")
                    </div>
                    <div class="col-md-9" style="padding: 10px;">
                        @Html.DisplayFor(model => model.CodeCited, new { @placeholder = "Legal Code Cited" })
                        @Html.LabelFor(model => model.LegalCode, "Legal Code")
                        @Html.DisplayFor(model => model.LegalCode)
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3" style="padding: 10px;">
                        @Html.LabelFor(model => model.IssuedDate, "Issued Date")
                    </div>
                    <div class="col-md-9" style="padding: 10px;">
                        @Html.DisplayFor(model => model.IssuedDate, "{0:MM/dd/yyyy}", new { @class = "datepicker", @value = DateTime.Now.ToShortDateString() })
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3" style="padding: 10px;">
                        @Html.LabelFor(model => model.City, "Location")
                    </div>
                    <div class="col-md-9" style="padding: 10px;">
                        @Html.DisplayFor(model => model.City, new { @placeholder = "City" }), @Html.DisplayFor(model => model.County, new { @placeholder = "County" })
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3" style="padding: 10px;">
                        @Html.LabelFor(model => model.OfficerName, "Officer's Full Name")
                    </div>
                    <div class="col-md-9" style="padding: 10px;">
                        @Html.DisplayFor(model => model.OfficerName, new { @style = "width: 300px;" })
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3" style="padding: 10px;">
                        @Html.LabelFor(model => model.OfficerBadgeNumber, "Officer's Badge Number")
                    </div>
                    <div class="col-md-9" style="padding: 10px;">
                        @Html.DisplayFor(model => model.OfficerBadgeNumber, new { @style = "width: 300px;" })
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3" style="padding: 10px;">
                        @Html.LabelFor(model => model.ContactFirstName, "Your Name (Optional)")
                    </div>
                    <div class="col-md-9" style="padding: 10px;">
                        @Html.DisplayFor(model => model.ContactFirstName, new { @placeholder = "First" })
                        @Html.DisplayFor(model => model.ContactLastName, new { @placeholder = "Last" })
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3" style="padding: 10px;">
                        @Html.LabelFor(model => model.ContactPhone, "Your Phone Number (Optional)")
                    </div>
                    <div class="col-md-9" style="padding: 10px;">
                        @Html.DisplayFor(model => model.ContactPhone)
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3" style="padding: 10px;">
                        @Html.LabelFor(model => model.ContactEmail, "Your Email")
                    </div>
                    <div class="col-md-9" style="padding: 10px;">
                        @Html.DisplayFor(model => model.ContactEmail, new { @style = "width: 300px;" })
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3" style="padding: 10px;">
                        @Html.LabelFor(model => model.InitialDetails, "Details regarding the initial stop (e.g. Probable cause, etc.)")
                    </div>
                    <div class="col-md-9" style="padding: 10px;">
                        @Html.TextAreaFor(model => model.InitialDetails, new { @style = "width: 300px; height: 100px;" })
                        <br />
                    </div>
                </div>
            
            </fieldset>



        
        
    </div>
    <div class="col-md-2"></div>
</div>

