﻿

@model ABATE.Washington.Core.Models.Citation
@{
    ViewBag.Title = "RegisterCitation";

}


<h2 class="text-center">Citation Form</h2>
<div class="row">
    <div class="col-md-12">
        ABATE of Washington is gathering information regarding citations issued for "Illegal helmets", "profiling", proceeding through a malfunctioning red-light traffic signal, and other motorcyclist issues. We have decided to begin collecting facts regarding the issuance of these citations.  In order to make a change, we need hard facts.  With respect for your privacy, we need a detailed description of your citation,  to allow to better fight for your rights in Olympia.  In order to compile data correctly, we are asking for the following:
    </div>
</div>
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">

        @using (Html.BeginForm("SubmitCitation", "Citations", "POST"))
        {
            @Html.AntiForgeryToken()
            <fieldset>
                <legend></legend>
                <div class="row">
                    <div class="col-md-3" style="padding: 10px;">
                        @Html.LabelFor(model => model.CitationNumber, "Citation Number")
                    </div>
                    <div class="col-md-9" style="padding: 10px;">
                        @Html.TextBoxFor(model => model.CitationNumber, new { @placeholder = "Citation Number" })
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3" style="padding: 10px;">
                        @Html.LabelFor(model => model.CodeCited, "Code Cited")
                    </div>
                    <div class="col-md-9" style="padding: 10px;">
                        @Html.TextBoxFor(model => model.CodeCited, new { @placeholder = "Legal Code Cited" })
                        @Html.RadioButtonFor(model => model.LegalCode, "RCW")
                        @Html.LabelFor(model => model.LegalCode, "RCW")
                        @Html.RadioButtonFor(model => model.LegalCode, "WAC")
                        @Html.LabelFor(model => model.LegalCode, "WAC")
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3" style="padding: 10px;">
                        @Html.LabelFor(model => model.IssuedDate, "Issued Date")
                    </div>
                    <div class="col-md-9" style="padding: 10px;">
                        @Html.TextBoxFor(model => model.IssuedDate, "{0:MM/dd/yyyy}", new { @class = "datepicker", @value = DateTime.Now.ToShortDateString() })
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3" style="padding: 10px;">
                        @Html.LabelFor(model => model.City, "Location")
                    </div>
                    <div class="col-md-9" style="padding: 10px;">
                        @Html.TextBoxFor(model => model.City, new { @placeholder = "City" }), @Html.TextBoxFor(model => model.County, new { @placeholder = "County" })
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3" style="padding: 10px;">
                        @Html.LabelFor(model => model.OfficerName, "Officer's Full Name")
                    </div>
                    <div class="col-md-9" style="padding: 10px;">
                        @Html.TextBoxFor(model => model.OfficerName, new { @style = "width: 300px;" })
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3" style="padding: 10px;">
                        @Html.LabelFor(model => model.OfficerBadgeNumber, "Officer's Badge Number")
                    </div>
                    <div class="col-md-9" style="padding: 10px;">
                        @Html.TextBoxFor(model => model.OfficerBadgeNumber, new { @style = "width: 300px;" })
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3" style="padding: 10px;">
                        @Html.LabelFor(model => model.ContactFirstName, "Your Name (Optional)")
                    </div>
                    <div class="col-md-9" style="padding: 10px;">

                        @Html.TextBoxFor(model => model.ContactFirstName, new { @placeholder = "First" })
                        @Html.TextBoxFor(model => model.ContactLastName, new { @placeholder = "Last" })

                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3" style="padding: 10px;">
                        @Html.LabelFor(model => model.ContactPhone, "Your Phone Number (Optional)")
                    </div>
                    <div class="col-md-9" style="padding: 10px;">
                        @Html.TextBoxFor(model => model.ContactPhone)
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3" style="padding: 10px;">
                        @Html.LabelFor(model => model.ContactEmail, "Your Email")
                    </div>
                    <div class="col-md-9" style="padding: 10px;">
                        @Html.TextBoxFor(model => model.ContactEmail, new { @style = "width: 300px;" })
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3" style="padding: 10px;">
                        @Html.LabelFor(model => model.InitialDetails, "Details regarding the initial stop (e.g. Probable cause, etc.)")
                    </div>
                    <div class="col-md-9" style="padding: 10px;">
                        @Html.TextAreaFor(model => model.InitialDetails, new { @style = "width: 300px; height: 100px;" })
                        <br />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <span class="text-danger">@TempData["ErrorMessage"]</span>
                        <button class="g-recaptcha"
                                data-sitekey="6LfvXXYUAAAAAEuEQZEFo6yytKqQ9PFDt223W3IY"
                                data-callback="YourOnSubmitFn">
                            Submit
                        </button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 text-center">
                        <input type="submit" value="Submit" class="btn" />
                        <input type="reset" value="Reset" class="btn" />
                    </div>
                </div>

            </fieldset>



        }
        <br />
        <br />
        <p class="text-center">Privacy Statement<br />
        We consider your personal information PRIVATE ... and it will remain so.</p>
    </div>
    <div class="col-md-2"></div>
</div>

<script src='https://www.google.com/recaptcha/api.js'></script>
<script>
    $(document).ready(function () {
        $('.datepicker').datepicker();
    });

</script>