﻿@model ABATE.Washington.Core.Models.Newsletter

@using (Ajax.BeginForm("AddNewsletter", "News", FormMethod.Post, new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "response", InsertionMode = InsertionMode.InsertAfter }, new { @id = "newsletterSubmit" }))
{
    <div class="row">
        <div class="col-md-6">
            @Html.HiddenFor(model => model.id)
            @Html.HiddenFor(model => model.Cover.Id, new { @id = "hidCoverId" })
            @Html.HiddenFor(model => model.File.Id, new { @id = "hidFileId" })
            @Html.HiddenFor(model => model.Cover.DocumentPath, new { @id = "hidCoverPath" })
            @Html.HiddenFor(model => model.File.DocumentPath, new { @id = "hidFilePath" })
            <div class="row">
                <div class="col-md-10">
                    <div class="row">
                        <div class="col-md-4">
                            @Html.LabelFor(model => model.Volume, "Volume")
                        </div>
                        <div class="col-md-8">
                            @Html.DropDownListFor(model => model.VolumeId, new SelectList(ViewBag.Volumes, "Value", "Text"), new { @id = "volume", @placeholder = "Volume", @class = "form-control dropdown" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            @Html.LabelFor(Model => Model.IssueDate, "Issue Date")
                        </div>
                        <div class="col-md-8">
                            @Html.TextBoxFor(model => model.IssueDate, "{0:MMMM yyyy}", new { @id = "issueDate", @placeholder = "Issue Date", @class = "form-control input-large" })

                        </div>
                    </div>
                    <br />
                </div>
                <div class="col-md-2">
                    <img src="" id="newsletterThumbnail" width="200px;"/>
                </div>
            </div>
        </div>

    </div>
}

<div id="fileupload" class="text-right" style="padding-top: 20px;">
    @using (Ajax.BeginForm("Post", "News", FormMethod.Post, new AjaxOptions { OnSuccess = "OnSuccess", OnFailure = "OnError" }, new { @enctype = "multipart/form-data", @class = "attachmentUpload" }))
    {
        <div class="fileupload-buttonbar">
            <label>
                <span class="btn btn-default">Add a file...</span>
                <input style="visibility: hidden;" type="file" id="fileUpload_input" name="files" accept="application/pdf" @*multiple="multiple"*@ />
            </label>
            <div class="fileupload-progressbar"></div>
        </div>
    }

    <div class="fileupload-content">
        <table class="files"></table>
    </div>
</div>
<style>
    .ui-datepicker-calendar {
        display: none;
    }
    
</style>
<script>
    $(document).ready(function () {
        $('#volume').change(function (e) {
            //var date = $('#issueDate').datepicker('getDate');
            var newYear = $.trim($('#volume :selected').text().split(":", 5)[1]);
            //var newDate = new Date(newYear, moment(date).month, 1);
            //$('#issueDate').datepicker({ timepicker: false, value: new Date(newYear, date.month, 1), dateFormat: 'MM yy' });
            
            //$('#issueDate').val(moment(newDate).format('MM yy'));
            $("#ui-datepicker-div .ui-datepicker-year :selected").val(newYear);


        });

        $('#issueDate').datepicker({
            changeMonth: true,
            changeYear: true,
            showButtonPanel: true,
            dateFormat: 'MM yy',
            onClose: function (dateText, inst) {
                var month = $("#ui-datepicker-div .ui-datepicker-month :selected").val();
                var year = $("#ui-datepicker-div .ui-datepicker-year :selected").val();
                var date = new Date(year, month, 1);
                $(this).datepicker('setDate', date);
                
            },
            onChangeYear: function (dateText, inst) {
                var month = $("#ui-datepicker-div .ui-datepicker-month :selected").val();
                var year = $("#ui-datepicker-div .ui-datepicker-year :selected").val();
                var date = new Date(year, month, 1);
                $(this).datepicker('setDate', date);
            }
        });

        $('#fileUpload_input').change(function () {
            if ($('#fileUpload_input').val() == "") {
                return;
            }
            // your ajax submit

            $.ajax({
                url: '@Url.Action("Post","News")',
                type: 'POST',
                data: new FormData($('.attachmentUpload')[0]),
                processData: false,
                contentType: false,
                success: function (data) {
                    $('.attachmentUpload')[0].reset();
                    $('#hidCoverId').val(data.CoverId);
                    $('#hidFileId').val(data.FileId);
                    $('#hidCoverPath').val(data.CoverPath);
                    $('#hidFilePath').val(data.FilePath);
                    $('#newsletterThumbnail').attr('src', data.CoverPath);
                }
            });


            // reset the field
            //$('#fileUpload_input').replaceWith('<input type="file" class="file" id="fileUpload_input" name="files" />');
        });
    });




    function saveChanges() {
        jQuery.ajaxSettings.traditional = true;
        
        
        var data = $('#newsletterSubmit').serializeArray();

        $.ajax({
            url: '@Url.Action("AddNewsletter","News")',
            type: 'POST',
            contentType: 'application/x-www-form-urlencoded',
            data: $('#newsletterSubmit').serialize(),
            success: function (data) {
                $('#addNewsletterModal').modal('hide');
                location.reload();

            }
        });

    }
</script>
