﻿@model ABATE.Washington.Core.Models.NewsletterViewModel

@using ABATE.Washington.Core.Models;

@{
    ViewBag.Title = "FreedomNewsletter";
}

<div class="row">
    <div class="col-md-6"><h2>Freedom Newsletter</h2></div><div class="col-md-6">
        @if (User.Identity.IsAuthenticated && User.IsInRole(ABATE.Washington.Web.Models.ApplicationRoles.NewsletterAdmin))
        {
            <input type="button" class="btn btn-primary pull-right" onclick="$('#addNewsletterModal').modal('show');" value="Add Newsletter" />
        }
    </div>
</div>

<div class="panel-group" id="accordian">
    <div class="panel panel-default">
        @foreach (NewsletterVolumeView volume in Model.NewsletterVolumes)
        {
            <div class="panel-heading">
                <h4><a data-toggle="collapse" data-parent="#accordian" href="#@volume.id">Volume @volume.VolumeNumber: @volume.VolumeDate.Year</a></h4>
            </div>
            <div id="@volume.id" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class="row">
                        @foreach (Newsletter issue in volume.Issues)
                        {
                            <div class="col-xs-6 col-sm-2 center"><a href="@issue.FilePath" @*download="@(String.Format("{0}_FreedomNewsletter.pdf", issue.IssueDate.ToString("MMMMyyyy")))" *@ ><img width="100" height="140" src="@(issue.CoverPath)" /></a><br /><h5 class="center">@issue.IssueDate.ToString("MMMM")</h5></div>
                            @*<div class="col-md-4"><h5>Address</h5><br />@issue.Address1<br />@(!string.IsNullOrEmpty(chapter.Address2) ? chapter.Address2 : "") @chapter.City, @chapter.State @chapter.ZipCode<br />@chapter.Phone<br /> @if (chapter.WebSite != null) { Html.ExternalLink(chapter.WebSite, "Chapter Website", new { @target = "_blank" }); }</div>
                                <div class="col-md-4"><h5>Meeting Location: @chapter.MeetingLocation</h5><br />@chapter.MeetingAddress1<br />@(!string.IsNullOrEmpty(chapter.MeetingAddress2) ? @chapter.MeetingAddress2 : "")@chapter.MeetingCity, @chapter.MeetingState @chapter.MeetingZipCode<br />@chapter.MeetingPhone<br /><br /><i>@chapter.MeetingSchedule1<br />@chapter.MeetingSchedule2</i></div>
                                <div class="col-md-4"><embed width="300" height="225" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCAS1DfItlS3Nt7NyOCPakekErNKNigzz4&q=@(HttpUtility.UrlEncode(chapter.MeetingLocationQuery))"></embed></div>*@
                        }
                    </div>
                </div>
            </div>
        }

    </div>
</div>

<div class="modal fade" id="addNewsletterModal" tabindex="-1" role="dialog" aria-labelledby="addNewsletterModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title" id="myModalLabel">Add Newsletter</h4>
            </div>
            <div class="modal-body">

                @Html.Partial("_AddNewsletter", new ABATE.Washington.Core.Models.Newsletter())

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="saveChanges();">Save changes</button>
            </div>
        </div>
    </div>
</div>