﻿@model ABATE.Washington.Core.Models.MembershipForm


<table>
    <tr><td>Chapter: @Html.DisplayFor(model => model.ChapterName)</td><td>Membership Option: @Html.DisplayFor(model => model.PurchaseItem.Name) </td></tr>
    <tr>
        <td>
            Name: @Html.DisplayFor(model => model.FirstName, new { @class = "form-control" })
            @Html.DisplayFor(model => model.MiddleInitial, new { @class = "form-control" })
            @Html.DisplayFor(model => model.LastName, new { @class = "form-control" })
        </td>
        <td>Email Address: @Html.DisplayFor(model => model.EmailAddress, new { @class = "form-control" }) </td>
    </tr>
    <tr>
        <td>
            @Html.DisplayFor(model => model.Address1, new { @class = "form-control" })<br />
            @Html.DisplayFor(model => model.Address2, new { @class = "form-control" })<br />
            @Html.DisplayFor(model => model.City, new { @class = "form-control" }),
            @Html.DisplayFor(model => model.State, new { @class = "form-control" })
            @Html.DisplayFor(model => model.PostalCode, new { @class = "form-control" })
        </td>
        <td>Phone Number: @Html.DisplayFor(model => model.Phone, new { @class = "form-control" })</td>
    </tr>
    <tr><td>Member Number: @Html.DisplayFor(model => model.MemberNumber, new { @class = "form-control" })</td><td>Referred By: @Html.DisplayFor(model => model.ReferralMember, new { @class = "form-control" })</td></tr>
    <tr>
        <td>Registered Voter? @(Model.RegisteredVoter?"Yes":"No")</td>
        <td>
            Legislative District: @Html.DisplayFor(model => model.LegislativeDistrict, new { @class = "form-control" })
        </td>
    </tr>
    <tr><td>Transaction: @Html.DisplayFor(model => model.Invoice.TransactionID, new { @class = "form-control" }) </td><td>Paid: @Html.DisplayFor(model => model.Invoice.PaidDateLocal, new { @class = "form-control" });</td></tr>
</table>

