﻿@model ABATE.Washington.Core.Models.MembershipForm
@{
    ViewBag.Title = "Membership Form Submitted Successful";
}

<div class="row">
    <div class="col-md-12">
        <h4>Membership Form Received!</h4>
        <p>Your membership form has been received and will be processed by the membership chairperson.  Thank you!</p>
    </div>
</div>
@Html.Partial("_MembershipForm", Model)
