﻿@model ABATE.Washington.Core.Models.MembershipForm
@{
    ViewBag.Title = "Membership Form Submitted Successful";
}

<div class="row">
    <div class="col-md-12">
        <h4>Oops! There was a problem processing your membership</h4>
        <p>There was a problem processing the transaction through PayPal.  Details have been sent to the administrator, we apologize for the inconvenience.  You may try again, but if problems continue please contact the <a href="mailto:webmaster@abate-wa.org">Webmaster</a></p>
    </div>
</div>

