﻿@model ABATE.Washington.Web.Models.MemberView
@{
    ViewBag.Title = "Join ABATE";
}
@Scripts.Render("~/bundles/jqueryval")
<h2 class="text-center">
    Join ABATE
</h2>
<div class="row">
    <div class="col-lg-12">
        <h4>
            You are invited to join ABATE of Washington
        </h4>
        <p>It matters not what you ride or if you ride.</p>
        <p>Please join us and help in the fight for the rights of all motorcycle riders.</p>
        <p> Your membership in ABATE counts when we meet our lawmakers in Olympia, WA or Washington, D.C.</p>
        <h4> Your new membership includes</h4>
        <ol>
            <li>ABATE of Washington member patch.</li>
            <li>Membership Card.</li>
            <li>ABATE’s Monthly Newsletter.</li>
            <li>Free Accidental Death Insurance Policy.</li>
            <li>A Voice in Olympia.</li>
        </ol>
        <p><strong>Membership Rights:</strong> Members shall have the right to vote, to hold office in the Corporation, to remain non-chapter affiliated, to join the chapter of their choice, to form a chapter, to speak during chapter meetings, and to take part in all the activities of the Corporation, in accordance with the Bylaws and respective local chapter bylaws.</p>
        <p>Look in the Chapters menu for Chapter locations</p>
        <p>If you have the motivation to be more actively involved, we have many opportunities to participate in both leadership roles and in committee positions.</p>
        <p>To join, please fill out our Membership Form, and mail to:</p>
        <p>
            A.B.A.T.E. of Washington<br />
            Membership<br />
            P.O. Box 8369<br />
            Tacoma, WA 98419-0369<br />
        </p>
        <p>Or use the online signup below.</p>
        @using (Html.BeginForm("Submit", "Membership", FormMethod.Post, new { @id = "membershipForm", @class = "form-group" }))
        {


            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-4">
                            @Html.Label("Chapter: ") @Html.DropDownListFor(model => model.ChapterId, new SelectList(Model.ChapterList, "Value", "Text"), "-- Select a Chapter --", new { @id = "chapter", @placeholder = "Chapter", @class = "form-control dropdown" })
                            @Html.ValidationMessageFor(model => model.ChapterId)
                        </div>
                        <div class="col-md-8">
                            @Html.Label("Membership Option (+Fee for online transaction)") @Html.DropDownListFor(model => model.PurchaseOption, new SelectList(Model.PurchaseOptions, "Value", "Text"), "-- Select a Membership Option --",new { @id = "purchaseOption", @placeholder = "Purchase Options", @class = "form-control dropdown" })
                            @Html.ValidationMessageFor(model => model.PurchaseOption)
                        </div>
                    </div>
                    <br />
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-5">@Html.TextBoxFor(model => model.FirstName, new { @placeholder = "First Name", @class = "form-control" })@Html.ValidationMessageFor(model => model.FirstName) </div>
                        <div class="col-md-2">@Html.TextBoxFor(model => model.MiddleInitial, new { @placeholder = "MI", @class = "form-control" })   </div>
                        <div class="col-md-5">
                            @Html.TextBoxFor(model => model.LastName, new { @placeholder = "Last Name", @class = "form-control" })@Html.ValidationMessageFor(model => model.LastName) 
                    </div>
                </div>
                <br />
            </div>

        </div>

            <div class="row">

                <div class="col-md-6">
                    @Html.TextBoxFor(model => model.Address1, new { @placeholder = "Address", @class = "form-control" })@Html.ValidationMessageFor(model => model.Address1)<br />
                    @Html.TextBoxFor(model => model.Address2, new { @placeholder = "Address 2", @class = "form-control" }) <br />
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-6">@Html.TextBoxFor(model => model.City, new { @placeholder = "City", @class = "form-control" })@Html.ValidationMessageFor(model => model.City)</div>
                                <div class="col-md-3">@Html.TextBoxFor(model => model.State, new { @placeholder = "State", @class = "form-control" })@Html.ValidationMessageFor(model => model.State)</div>
                                <div class="col-md-3">@Html.TextBoxFor(model => model.PostalCode, new { @placeholder = "Zip Code", @class = "form-control" })@Html.ValidationMessageFor(model => model.PostalCode)</div>
                            </div>
                            <br />
                        </div>

                    </div>
                </div>
                <div class="col-md-4">
                    @Html.TextBoxFor(model => model.EmailAddress, new { @placeholder = "Email Address", @class = "form-control" }) <br />
                    @Html.TextBoxFor(model => model.Phone, new { @placeholder = "Phone Number (optional)", @class = "form-control" })
                </div>
            </div>


            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-6">@Html.TextBoxFor(model => model.MemberNumber, new { @placeholder = "Member Number (For Renewals)", @class = "form-control", @type = "number" })</div>
                        <div class="col-md-6">@Html.TextBoxFor(model => model.ReferralMember, new { @placeholder = "Referred By (Member Number)", @class = "form-control", @type = "number" })</div>
                    </div>
                    <br />
                </div>

            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-sm-4">
                            <input type="checkbox" id="@Html.IdFor(model => model.RegisteredVoter)" name="@Html.NameFor(model => model.RegisteredVoter)" value="true" checked=@Model.RegisteredVoter /> @Html.LabelFor(model => model.RegisteredVoter, "Registered Voter?")
                        </div>
                        <div class="col-sm-4">
                            @Html.TextBoxFor(model => model.LegislativeDistrict, new { @placeholder = "Legislative District", @class = "form-control" })
                        </div>
                    </div>
                </div>
                <br />
            </div>

            <div class="row">
                <div class="col-md-offset-4">
                    <input type="submit" value="Submit" class="btn btn-default" />
                </div>
                <br />
            </div>
            <div class="row">
                <div class="col-md-offset-2">
                    *You will be directed to PayPal to pay for your membership, there is a small transaction fee for this service.
                </div>
                <br />
            </div>
        }
    </div>


    @*<div class="col-md-6 col-xs-12">
            <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">

                <input type="hidden" name="cmd" value="_s-xclick">
                <input type="hidden" name="hosted_button_id" value="F7B2PYMZSAUNL">
                <table align="left">
                    <tr><td><h4>New Members</h4></td></tr>
                    <tr><td><input type="hidden" name="on0" value="(Price includes $1.75 service fee)">(Price includes $1.75 service fee)</td></tr>
                    <tr>
                        <td>
                            <select name="os0">
                                <option value="1 year">1 year $31.75 USD</option>
                                <option value="3 year">3 year $71.75 USD</option>
                                <option value="5 year">5 year $106.75 USD</option>
                            </select>
                        </td>
                    </tr>
                    <tr><td><input type="hidden" name="on1" value="Chapter or Independent:">Chapter or Independent:</td></tr>
                    <tr><td><input type="text" name="os1" maxlength="200"></td></tr>
                    <tr>
                        <td>
                            <input type="hidden" name="currency_code" value="USD">
                            <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_paynow_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                            <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                        </td>
                    </tr>
                </table>
            </form>
        </div>
        <div class="col-md-6 col-xs-12">
            <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                <input type="hidden" name="cmd" value="_s-xclick">
                <input type="hidden" name="hosted_button_id" value="EJX8AF9AKDJ9N">
                <table align="left">
                    <tr><td><h4>Renewing Members</h4></td></tr>
                    <tr><td><input type="hidden" name="on0" value="(Price includes $1.75 service fee)">(Price includes $1.75 service fee)</td></tr>
                    <tr>
                        <td>
                            <select name="os0">
                                <option value="1yr Renewal">1yr Renewal $26.75 USD</option>
                                <option value="3yr Renewal">3yr Renewal $66.75 USD</option>
                                <option value="5yr Renewal">5yr Renewal $101.75 USD</option>
                            </select>
                        </td>
                    </tr>
                    <tr><td><input type="hidden" name="on1" value="ABATE Member #">ABATE Member #</td></tr>
                    <tr><td><input type="text" name="os1" maxlength="200"></td></tr>
                    <tr><td><input type="hidden" name="on2" value="Name">Name</td></tr>
                    <tr><td><input type="text" name="os2" maxlength="200"></td></tr>
                    <tr>
                        <td>
                            <input type="hidden" name="currency_code" value="USD">
                            <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_paynow_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                            <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                        </td>
                    </tr>
                </table>
            </form>
        </div>*@
</div>
<script>
    $(document).ready(function () {
        $('form :submit').click(function () {
            $(this).prop("disabled", true).closest('form').append($('<input/>', {
                type: 'hidden',
                name: this.name,
                value: this.value
            })).submit();
        });

        $("form :input").on("input", function () {
            $('form :submit').prop("disabled", false).closest('form').append($('<input/>', {
                type: 'hidden',
                name: this.name,
                value: this.value
            }));
        });
    });
</script>