﻿@{
    ViewBag.Title = "MembershipFormSearch";
}

<h2>Membership Form Search</h2>

<div class="form-group">
    @using (Html.BeginForm("MembershipForm","Membership"))
    {
        <div class="input-group">
            <input type="text" name="SearchCriteria" placeholder="Invoice or Transaction ID" class="form-control" /> <input type="submit" value="Search" class="btn btn-primary" />
        </div>
    }
</div>
