﻿@model ABATE.Washington.Core.Models.MembershipForm

<div class="row">
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-6">
                Chapter: <br /> @Html.DisplayFor(model => model.ChapterName, new { @class = "form-control" })
            </div>
            <div class="col-md-6">
                Membership Option: <br /> @Html.DisplayFor(model => model.PurchaseItem.Name, new { @class = "form-control" })
            </div>
        </div>
        <br />
    </div>
</div>
<div class="row">
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-5">
                Name: <br /> @Html.DisplayFor(model => model.FirstName, new { @class = "form-control" })
                @Html.DisplayFor(model => model.MiddleInitial, new { @class = "form-control" })
                @Html.DisplayFor(model => model.LastName, new { @class = "form-control" })
            </div>
        </div>
        <br />
    </div>

</div>

<div class="row">

    <div class="col-md-6">
        Address: <br /> @Html.DisplayFor(model => model.Address1, new { @class = "form-control" })<br />
        @Html.DisplayFor(model => model.Address2, new { @class = "form-control" })
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-6">
                        <br /> @Html.DisplayFor(model => model.City, new { @class = "form-control" }),
                        @Html.DisplayFor(model => model.State, new { @class = "form-control" })
                        @Html.DisplayFor(model => model.PostalCode, new { @class = "form-control" })
                    </div>
                </div>
                <br />
            </div>

        </div>
    </div>
    <div class="col-md-4">
        Email Address: <br /> @Html.DisplayFor(model => model.EmailAddress, new { @class = "form-control" }) <br />
        Phone Number: <br /> @Html.DisplayFor(model => model.Phone, new { @class = "form-control" })
    </div>
</div>


<div class="row">
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-6">Member Number: <br /> @Html.DisplayFor(model => model.MemberNumber, new { @class = "form-control" })</div>
            <div class="col-md-6">Referred By: <br /> @Html.DisplayFor(model => model.ReferralMember, new { @class = "form-control" })</div>
        </div>
        <br />
    </div>

</div>
<div class="row">
    <div class="col-md-6">
        <div class="row">
            <div class="col-sm-4">
                <input type="checkbox" id="@Html.IdFor(model => model.RegisteredVoter)" name="@Html.NameFor(model => model.RegisteredVoter)" value="true" checked=@Model.RegisteredVoter /> @Html.LabelFor(model => model.RegisteredVoter, "Registered Voter?")
            </div>
            <div class="col-sm-4">
                Legislative District: <br /> @Html.DisplayFor(model => model.LegislativeDistrict, new { @class = "form-control" })
            </div>
        </div>
        <br />
    </div>
    <br />
</div>
<div class="row">
    <div class="col-md-8">
        Transaction: @Html.DisplayFor(model => model.Invoice.TransactionID, new { @class = "form-control" }) Paid: @Html.DisplayFor(model => model.Invoice.PaidDateLocal, new { @class = "form-control" });
    </div>
</div>


<script>
    $(document).ready(function () {
        $('#RegisteredVoter').on('click', function (e) { e.preventDefault();})

    });


</script>
