﻿
@{
    ViewBag.Title = "About";
}

<h2>What Is A.B.A.T.E.</h2>
<div class="row">
    <strong>A Brotherhood Against Totalitarian Enactment's</strong>

    ABATE is a nonprofit organization dedicated to the Freedom of the Road. Ensure your freedom by fighting anti-bike legislation and promoting fair motorcycle legislation. ABATE does not advocate that you ride without a helmet when the law is repealed, only that you have the right to decide.

    The structure of ABATE is very basic: Members. Membership is open to anyone interested in promoting freedom of choice, whether you own or ride a motorcycle, or not. The wishes of the members are carried out by their elected board of directors in their local chapter, or through their representatives to the state organization.


    Goals and Purposes
    Keeping bikers and members informed through our monthly newsletter and the media.
    To encourage motorcycle enthusiasts to register and vote.
    To promote safe riding habits.
    To encourage favorable legislation for bikers.
    To provide monthly meetings, events, runs, contests, and community action projects.
</div>

