﻿@{
    ViewBag.Title = "BlackThursdayAppointments";
}


<h2>Black Thursday Appointments</h2>
<row>
    <div class="col-md-12">
        
        Don't know who your representative is?  Find your district on the State Legislative website here: @Html.ExternalLink("http://app.leg.wa.gov/DistrictFinder/", "District Finder")
    </div>
</row>
<div class="row">
    <div class="col-md-6">
        <h3>House of Representatives</h3>
        @*<table>
            <tr><th>Member</th><th>Party</th><th>Dist.</th><th>Room</th><th> Time</th></tr>
            <tr><td>Appleton, Sherry</td><td>D</td><td>23</td><td>LEG 132F</td><td>3:45</td></tr>
            <tr><td>Bergquist, Steve</td><td>D     T</td><td>11</td><td>JLOB 322</td><td>8:30</td></tr>
            <tr><td>Blake, Brian</td><td>D</td><td>19</td><td>LEG 437A</td><td></td></tr>
            <tr><td>Buys, Vincent</td><td>R</td><td>42</td><td>JLOB 465</td><td></td></tr>
            <tr><td>Caldier, Michelle</td><td>R</td><td>26</td><td>JLOB 417</td><td></td></tr>
            <tr><td>Carlyle, Reuven</td><td>D</td><td>36</td><td>JLOB 325</td><td></td></tr>
            <tr><td>Chandler, Bruce</td><td>R</td><td>15</td><td>LEG 427B</td><td></td></tr>
            <tr><td>Chopp, Frank</td><td>D</td><td>43</td><td>LEG 339C</td><td></td></tr>
            <tr><td>Clibborn, Judy</td><td>D     T</td><td>41</td><td>JLOB 415</td><td>2:45</td></tr>
            <tr><td>Cody, Eileen</td><td>D</td><td>34</td><td>JLOB 303</td><td></td></tr>
            <tr><td>Condotta, Cary</td><td>R</td><td>12</td><td>LEG 425B</td><td></td></tr>
            <tr><td>DeBolt, Richard</td><td>R</td><td>20</td><td>LEG 425A</td><td>8:45</td></tr>
            <tr><td>Dent, Tom</td><td>R</td><td>13</td><td>JLOB 411</td><td></td></tr>
            <tr><td>Dunshee, Hans</td><td>D</td><td>44</td><td>JLOB 315</td><td></td></tr>
            <tr><td>Dye, Mary</td><td>R</td><td>9</td><td>JLOB 432</td><td></td></tr>
            <tr><td>Farrell, Jessyn</td><td>D     T</td><td>46</td><td>JLOB 370</td><td>3:00</td></tr>
            <tr><td>Fey, Jake</td><td>D</td><td>27</td><td>JLOB 414</td><td>1:00</td></tr>
            <tr><td>Fitzgibbon, Joe</td><td>D</td><td>34</td><td>JLOB 305</td><td></td></tr>
            <tr><td>Goodman, Roger</td><td>D</td><td>45</td><td>LEG 436B</td><td></td></tr>
            <tr><td>Gregerson, Mia</td><td>D     T</td><td>33</td><td>JLOB 318</td><td></td></tr>
            <tr><td>Griffey, Dan</td><td>R</td><td>35</td><td>JLOB 410</td><td>12:00</td></tr>
            <tr><td>Haler, Larry</td><td>R</td><td>8</td><td>LEG 122D</td><td>12:45</td></tr>
            <tr><td>Hansen, Drew</td><td>D</td><td>23</td><td>JLOB 369</td><td>1:15</td></tr>
            <tr><td>Hargrove, Mark</td><td>D     T</td><td>47</td><td>JLOB 409</td><td></td></tr>
            <tr><td>Harmsworth, Mark</td><td>R     T</td><td>44</td><td>JLOB 466</td><td></td></tr>
            <tr><td>Harris, Paul</td><td>R</td><td>17</td><td>JLOB 403</td><td></td></tr>
            <tr><td>Hawkins, Brad</td><td>R</td><td>12</td><td>LEG 122G</td><td></td></tr>
            <tr><td>Hayes, Dave</td><td>R     T</td><td>10</td><td>JLOB 467</td><td></td></tr>
            <tr><td>Hickel, Teri </td><td>R      T</td><td>30</td><td>LEG 122D</td><td></td></tr>
            <tr><td>Holy, Jeff</td><td>R</td><td>6</td><td>JLOB 405</td><td></td></tr>
            <tr><td>Hudgins, Zack</td><td>D</td><td>11</td><td>LEG 438A</td><td></td></tr>
            <tr><td>Hunt, Graham</td><td>R</td><td>2</td><td>JLOB 406</td><td></td></tr>
            <tr><td>Hunt, Sam</td><td>D</td><td>22</td><td>LEG 438B</td><td></td></tr>
            <tr><td>Hurst, Christopher</td><td>D</td><td>31</td><td>JLOB 320</td><td>4:00</td></tr>
            <tr><td>Jinkins, Laurie</td><td>D</td><td>27</td><td>JLOB 311</td><td>9:15</td></tr>
            <tr><td>Johnson, Norm</td><td>R</td><td>14</td><td>LEG 122C</td><td>8:30</td></tr>
            <tr><td>Kagi, Ruth</td><td>D</td><td>32</td><td>JLOB 308</td><td></td></tr>
            <tr><td>Kilduff, Christine</td><td>D</td><td>28</td><td>JLOB 331</td><td>11:30</td></tr>
            <tr><td>Kirby, Steve</td><td>D</td><td>29</td><td>LEG 437B</td><td>1:00</td></tr>
            <tr><td>Klippert, Brad</td><td>R</td><td>8</td><td>LEG 122A</td><td>12:45</td></tr>
            <tr><td>Kochmar, Linda</td><td>R      T</td><td>30</td><td>LEG 122F</td><td></td></tr>
            <tr><td>Kretz, Joel</td><td>R</td><td>4</td><td>LEG 335A</td><td>5:15</td></tr>
            <tr><td>Kristiansen, Dan</td><td>R</td><td>39</td><td>LEG 335C</td><td></td></tr>
            <tr><td>Kuderer, Patricia</td><td>D</td><td>48</td><td>JLOB 429A</td><td></td></tr>
            <tr><td>Lytton, Kristine</td><td>D</td><td>40</td><td>JLOB 368</td><td></td></tr>
            <tr><td>MacEwen, Drew</td><td>R</td><td>35</td><td>JLOB 434</td><td>2:30</td></tr>
            <tr><td>Magendanz, Chad</td><td>R</td><td>5</td><td>JLOB 427</td><td></td></tr>
            <tr><td>Manweller, Matt</td><td>R</td><td>13</td><td>JLOB 470</td><td></td></tr>
            <tr><td>McBride, Joan</td><td>D      T</td><td>48</td><td>JLOB 335</td><td></td></tr>
            <tr><td>McCabe, Gina</td><td>R</td><td>14</td><td>JLOB 431</td><td></td></tr>
            <tr><td>McCaslin, Bob</td><td>R</td><td>4</td><td>JLOB 425</td><td></td></tr>
            <tr><td>Moeller, Jim</td><td>D      T</td><td>49</td><td>LEG 429B</td><td></td></tr>
            <tr><td>Morris, Jeff</td><td>D      T</td><td>40</td><td>LEG 436A</td><td></td></tr>
            <tr><td>Moscoso, Luis</td><td>D      T</td><td>1</td><td>LEG 132A</td><td></td></tr>
            <tr><td>Muri, Dick</td><td>R</td><td>28</td><td>JLOB 424</td><td>1:15 & 4:00</td></tr>
            <tr><td>Nealey, Terry</td><td>R</td><td>16</td><td>JLOB 404</td><td></td></tr>
            <tr><td>Orcutt, Ed</td><td>R     T</td><td>20</td><td>JLOB 408</td><td><strike>8:15</strike></td></tr>
            <tr><td>Ormsby, Timm</td><td>D</td><td>3</td><td>LEG 132D</td><td></td></tr>
            <tr><td>Ortiz-Self, Lillian</td><td>D     T</td><td>21</td><td>JLOB 330</td><td>3:00</td></tr>
            <tr><td>Orwall, Tina</td><td>D</td><td>33</td><td>JLOB 326</td><td></td></tr>
            <tr><td>Parker, Kevin</td><td>R</td><td>6</td><td>JLOB 421</td><td></td></tr>
            <tr><td>Peterson, Strom</td><td>D</td><td>21</td><td>JLOB 324</td><td></td></tr>
            <tr><td>Pettigrew, Eric</td><td>D</td><td>37</td><td>LEG 434B</td><td></td></tr>
            <tr><td>Pike, Liz</td><td>R     T</td><td>18</td><td>LEG 122B</td><td></td></tr>
            <tr><td>Pollet, Gerry</td><td>D</td><td>46</td><td>LEG 132C</td><td></td></tr>
            <tr><td>Reykdal, Chris</td><td>D</td><td>22</td><td>JLOB 319</td><td></td></tr>
            <tr><td>Riccelli, Marcus</td><td>D     T</td><td>3</td><td>JLOB 327</td><td></td></tr>
            <tr><td>Robinson, June</td><td>D</td><td>38</td><td>JLOB 332</td><td></td></tr>
            <tr><td>Rodne, Jay</td><td>R     T</td><td>5</td><td>JLOB 430</td><td></td></tr>
            <tr><td>Rossetti, JD</td><td>D     T</td><td>19</td><td>JLOB 334</td><td>12:30</td></tr>
            <tr><td>Ryu, Cindy</td><td>D</td><td>32</td><td>LEG 132D</td><td></td></tr>
            <tr><td>Santos, Sharon Tomiko</td><td>D</td><td>37</td><td>JLOB 321</td><td></td></tr>
            <tr><td>Sawyer, David</td><td>D</td><td>29</td><td>JLOB 306</td><td>1:00</td></tr>
            <tr><td>Schmick, Joe</td><td>R</td><td>9</td><td>LEG 426B</td><td></td></tr>
            <tr><td>Scott, Elizabeth</td><td>R</td><td>39</td><td>JLOB 436</td><td></td></tr>
            <tr><td>Sells, Mike</td><td>D     T</td><td>38</td><td>LEG 132B</td><td></td></tr>
            <tr><td>Senn, Tana</td><td>D</td><td>41</td><td>JLOB 309</td><td></td></tr>
            <tr><td>Shea, Matt</td><td>R     T</td><td>4</td><td>JLOB 437</td><td></td></tr>
            <tr><td>Short, Shelly</td><td>R</td><td>7</td><td>LEG 427A</td><td>4:00</td></tr>
            <tr><td>Smith, Norma</td><td>R</td><td>10</td><td>JLOB 435</td><td></td></tr>
            <tr><td>Springer, Larry</td><td>D</td><td>45</td><td>LEG 132E</td><td></td></tr>
            <tr><td>Stambaugh, Melanie</td><td>R     T</td><td>25</td><td>LEG 122E</td><td></td></tr>
            <tr><td>Stanford, Derek</td><td>D</td><td>1</td><td>JLOB 304</td><td></td></tr>
            <tr><td>Stokesbary, Drew</td><td>R</td><td>31</td><td>JLOB 426</td><td>2:00</td></tr>
            <tr><td>Sullivan, Pat</td><td>D</td><td>47</td><td>LEG 339A</td><td></td></tr>
            <tr><td>Tarleton, Gael</td><td>D      T</td><td>36</td><td>LEG 429B</td><td></td></tr>
            <tr><td>Taylor, David</td><td>R</td><td>15</td><td>JLOB 428</td><td></td></tr>
            <tr><td>Tharinger, Steve</td><td>D</td><td>24</td><td>JLOB 314</td><td></td></tr>
            <tr><td>Van De Wege, Kevin</td><td>D</td><td>24</td><td>LEG 434A</td><td></td></tr>
            <tr><td>Van Werven, Luanne</td><td>R</td><td>42</td><td>JLOB 419</td><td></td></tr>
            <tr><td>Vick, Brandon</td><td>R</td><td>18</td><td>JLOB 469</td><td></td></tr>
            <tr><td>Walkinshaw, Brady</td><td>D</td><td>43</td><td>JLOB 328</td><td></td></tr>
            <tr><td>Walsh, Maureen</td><td>R</td><td>16</td><td>JLOB 420</td><td></td></tr>
            <tr><td>Wilcox, J.T.</td><td>R</td><td>2</td><td>LEG 426A</td><td>1:45</td></tr>
            <tr><td>Wilson, Lynda</td><td>R</td><td>17</td><td>JLOB 418</td><td></td></tr>
            <tr><td>Wylie, Sharon</td><td>D</td><td>49</td><td>JLOB 310</td><td></td></tr>
            <tr><td>Young, Jesse</td><td>R      T</td><td>26</td><td>JLOB 422</td><td></td></tr>
            <tr><td>Zeiger, Hans</td><td>R</td><td>25</td><td>JLOB 468</td><td></td></tr>


        </table>*@
    </div>
    <div class="col-md-6">
        <h3>Senate</h3>

        @*<table>
            <tr><th>Member</th><th>Party</th><th>Dist.</th><th>APPT. TIME</th></tr>
            <tr><td>Angel, Jan</td><td>R</td><td>26</td><td>3:45</td></tr>
            <tr><td>Bailey, Barbara</td><td>R</td><td>10</td><td></td></tr>
            <tr><td>Baumgartner, Michael</td><td>R      T</td><td>6</td><td></td></tr>
            <tr><td>Becker, Randi</td><td>R</td><td>2</td><td></td></tr>
            <tr><td>Benton, Don</td><td>R      T</td><td>17</td><td></td></tr>
            <tr><td>Billig, Andy</td><td>D</td><td>3</td><td></td></tr>
            <tr><td>Braun, John</td><td>R</td><td>20</td><td></td></tr>
            <tr><td>Brown, Sharon</td><td>R</td><td>8</td><td>12:30</td></tr>
            <tr><td>Chase, Maralyn</td><td>D</td><td>32</td><td></td></tr>
            <tr><td>Cleveland, Annette</td><td>D      T</td><td>49</td><td></td></tr>
            <tr><td>Conway, Steve</td><td>D</td><td>29</td><td></td></tr>
            <tr><td>Dammeier, Bruce</td><td>R</td><td>25</td><td></td></tr>
            <tr><td>Dansel, Brian</td><td>R</td><td>7</td><td>3:30</td></tr>
            <tr><td>Darneille, Jeannie</td><td>D</td><td>27</td><td>1:45</td></tr>
            <tr><td>Ericksen, Doug</td><td>R      T</td><td>42</td><td></td></tr>
            <tr><td>Fain, Joe</td><td>R      T</td><td>47</td><td>1</td></tr>
            <tr><td>Fraser, Karen</td><td>D</td><td>22</td><td>9:30</td></tr>
            <tr><td>Frockt, David</td><td>D</td><td>46</td><td></td></tr>
            <tr><td>Habib, Cyrus</td><td>D      T</td><td>48</td><td></td></tr>
            <tr><td>Hargrove, James</td><td>D</td><td>24</td><td>2:15</td></tr>
            <tr><td>Hasegawa, Bob</td><td>D</td><td>11</td><td></td></tr>
            <tr><td></td><td>D</td><td>36</td><td></td></tr>
            <tr><td>Hewitt, Mike</td><td>R</td><td>16</td><td></td></tr>
            <tr><td>Hill, Andy</td><td>R</td><td>45</td><td></td></tr>
            <tr><td>Hobbs, Steve</td><td>D       T</td><td>44</td><td></td></tr>
            <tr><td>Honeyford, Jim</td><td>R</td><td>15</td><td></td></tr>
            <tr><td>Jayapal, Pramila</td><td>D       T</td><td>37</td><td></td></tr>
            <tr><td>Keiser, Karen</td><td>D</td><td>33</td><td></td></tr>
            <tr><td>King, Curtis</td><td>R       T</td><td>14</td><td>9:30</td></tr>
            <tr><td></td><td>D</td><td>36</td><td></td></tr>
            <tr><td>Liias, Marko</td><td>D       T</td><td>21</td><td></td></tr>
            <tr><td>Litzow, Steve</td><td>R       T</td><td>41</td><td></td></tr>
            <tr><td>McAuliffe, Rosemary</td><td>D</td><td>1</td><td></td></tr>
            <tr><td>McCoy, John</td><td>D</td><td>38</td><td></td></tr>
            <tr><td>Miloscia, Mark</td><td>R       T</td><td>30</td><td></td></tr>
            <tr><td>Mullet, Mark</td><td>D</td><td>5</td><td></td></tr>
            <tr><td>Nelson, Sharon</td><td>D</td><td>34</td><td></td></tr>
            <tr><td>O'Ban, Steve</td><td>R</td><td>28</td><td>1:45</td></tr>
            <tr><td>Padden, Mike</td><td>R</td><td>4</td><td></td></tr>
            <tr><td>Parlette, Linda Evans</td><td>R</td><td>12</td><td></td></tr>
            <tr><td>Pearson, Kirk</td><td>R</td><td>39</td><td></td></tr>
            <tr><td>Pedersen, Jamie</td><td>D       T</td><td>43</td><td></td></tr>
            <tr><td>Ranker, Kevin</td><td>D</td><td>40</td><td></td></tr>
            <tr><td>Rivers, Ann</td><td>R       T</td><td>18</td><td></td></tr>
            <tr><td>Roach, Pam</td><td>R</td><td>31</td><td>3:15</td></tr>
            <tr><td>Rolfes, Christine</td><td>D</td><td>23</td><td>1:45</td></tr>
            <tr><td>Schoesler, Mark</td><td>R</td><td>9</td><td></td></tr>
            <tr><td>Sheldon, Tim</td><td>D       T</td><td>35</td><td>11:45</td></tr>
            <tr><td>Takko, Dean</td><td>D</td><td>19</td><td>1:00</td></tr>
            <tr><td>Warnick, Judy</td><td>R</td><td>13</td><td></td></tr>


        </table>*@
    </div>
</div>