﻿<!DOCTYPE html>
@{
    ViewBag.Title = "BlackThursday";
}


<div class="row">
    <div class="col-md-6">
        
        <p>Black Thursday is front and center this month and hopefully everyone has planned their schedules to accommodate being at the Capitol on January 16th!  A review session is planned for January 15th, 6:00pm (until the last person leaves) to take place at the Red Lion Inn (Governor's). A lot of prep work leading up to Black Thursday is going on including supporting Legislators in their own districts (such as participating in Veteran Cemetery Honor ceremonies), conversing with Legislative Assistants (LAs) and reviewing our bill presentation strategies.</p>

        <p>Appointments are still coming in so the final appointment schedule can't be known for sure at this time but it is our goal to meet with every Legislator (all 147 of them) and the more people who attend Black Thursday, the easier it is to accomplish this goal.  Hopefully everyone has contacted all 3 of their Legislators and have scheduled an appointment for that day.</p>

        <p><strong>REMEMBER: once you have scheduled an appointment, you need to send that appointment time to the state LAO.  Please send your appointment information via EMAIL and not facebook, text or other medium. Email is:  <a href="mailto:legislative1@abate-wa.org">legislative1@abate-wa.org</a>.</strong></p>

        <p>One of the most common reasons members give on why they don't attend Black Thursday is that they feel uneasy or too uneducated about how to present ABATE's issues to Legislators  but, there are a few things to keep in mind here:  1) Legislators are just people too and they don't expect their constituents to be well versed in legislative language and, 2) presentation materials will be provided for anyone who meets with a Legislator and, 3) a review session will be held on Wednesday evening to help prepare members on how to present our issues.</p>

        <p>Remember, there are many ways to help make Black Thursday a success - not just discussing our bills with Legislators. Since it is always better to have more than one person attend an appointment, you could simply sit in on a meeting and see how we handle them or, you could help keep things organized in the staging area (Columbia Room) or, you could join the motorcycle ride-in and show up at the Capitol steps for speakers and photos (it helps to have as many motorcyclists as possible participate in this, even if you don't stay for the rest of the event).  If you have never been to Black Thursday because you feel you can't speak with Legislators, then please consider helping out in other ways.  Those who have attended Black Thursday events have always given positive feedback about their experience.</p>

        <br />

        <p>
            <h4>Black Thursday Agenda</h4>
            <em>See our @Html.ActionLink("Current Bills", "CurrentBills", "Legislative") to see bill sponsors and talking points for Black Thursday.</em>
            <br />
            <br />
            7:30 am Columbia Room Open<br />
            8:00am - 5:00pm - Appointments<br />
            10:00am KSU from Hawk's Prairie Casino<br />
            10:00am - 10:30am - Ride In to Capitol<br />
            10:45am - 11:30am - Speakers on the Steps<br />
            11:30am - Group Photo on the Steps<br />
            5:30pm - ?? Meet & Greet at Red Lion Governor's<br />
        </p>

        
        <p>When you get a chance, review the Legislative sections from the November and December issues of Freedom magazine to help prepare for our Black Thursday event this month.  Make plans to show up on January 16th and help make it a very successful day for us!</p>

        <p>Louise Bentley</p>
        <p>Brian Lange</p>
    </div>

    <div class="col-md-6">
        
        <div style="text-align: center;"><a href="https://www.abate-wa.org/Content/files/Black%20Thursday%20Flier%202020%20copy%203.jpg" target="_blank"><img src="https://www.abate-wa.org/Content/files/Black%20Thursday%20Flier%202020%20copy%203.jpg" alt="Black Thursday" /></a></div>
        <div>
            <br /><br />Please visit our <a href="https://www.abate-wa.org/Legislative/Documents">Documents and Forms</a> to find more information about our legislative packet other beneficial information regarding our legislative efforts. Or download the <a href="/Content/files/5653a34c-2531-40f6-8358-b7cf21befcc3.pdf" target="_blank" download="BlackThursday2019.pdf">Black Thursday Packet</a> here.
        </div>
    </div>
</div>
