﻿
@{
    ViewBag.Title = "CurrentBills";
}

<h2>Current Bills 2019-2020</h2>
<br />
<br />
<p><h3>Helmet (Safety Gear) Choice </h3>
    <ul>
        <li>allow those who ride to decide what gear is best.</li>
        <li>mandates liability and health insurance (same as auto) for riding without a helmet</li>
        <li>creates a 5 year pilot program study to track head injury statistics</li>
    </ul>

    <h4>HB 1125 - 2019-20</h4>
    Concerning motorcycle helmet use.<br />
    Sponsors: <a href="http://leg.wa.gov/house/representatives/pages/default.aspx#Blake">Blake</a>,
    <a href="http://leg.wa.gov/house/representatives/pages/default.aspx#Griffey">Griffey</a>,
    <a href="http://leg.wa.gov/house/representatives/pages/default.aspx#Walsh">Walsh</a>,
    <a href="http://leg.wa.gov/house/representatives/pages/default.aspx#Young">Young</a>
</p>
<br />
<p>
    <h4>
        SB 5007 - 2019-20
    </h4>
    Concerning motorcycle helmet use.<br />
    Sponsors: <a href="http://leg.wa.gov/senate/senators/pages/default.aspx#Rolfes">Rolfes</a>,
    <a href="http://leg.wa.gov/senate/senators/pages/default.aspx#Sheldon">Sheldon</a>,
    <a href="http://leg.wa.gov/senate/senators/pages/default.aspx#Braun">Braun</a>,
    <a href="http://leg.wa.gov/senate/senators/pages/default.aspx#Brown">Brown</a>,
    <a href="http://leg.wa.gov/senate/senators/pages/default.aspx#Fortunato">Fortunato</a>,
    <a href="http://leg.wa.gov/senate/senators/pages/default.aspx#Kuderer">Kuderer</a>,
    <a href="http://leg.wa.gov/senate/senators/pages/default.aspx#Oban">Oban</a>,
    <a href="http://leg.wa.gov/senate/senators/pages/default.aspx#Short">Short</a>,
    <a href="http://leg.wa.gov/senate/senators/pages/default.aspx#Takko">Takko</a>,
    <a href="http://leg.wa.gov/senate/senators/pages/default.aspx#Wagoner">Wagoner</a>,
    <a href="http://leg.wa.gov/senate/senators/pages/default.aspx#Warnick">Warnick</a>
</p>
<hr />
<p><h3>Lane Sharing</h3>
    <ul>
        <li>increase motorcycle safety and congestion relief on freeways.</li>
        <li>offer options for motorcycles to negotiate their position on congested freeways.</li>
        <li>reduce chances of rear-end collisions to motorcycles in stopped traffic.</li>
        <li>alleviate rider fatigue and motorcycle overheating for motorcycle riders.</li>
        <li>offer congestion relief by allowing motorcycles to move out of traffic.</li>
    </ul>
    <h4>SB 5254 - 2019-20</h4>
    Modifying the operation of motorcycles on roadways laned for traffic.<br />
    Sponsors: <a href="http://leg.wa.gov/senate/senators/pages/default.aspx#Sheldon">Sheldon</a>,
    <a href="http://leg.wa.gov/senate/senators/pages/default.aspx#Conway">Conway</a>
</p>
<hr />
<p>
    <h3>Parking</h3>
<p>
    Parking - amend RCW 46.61.575 to allow angle parking for motorcycles
    <ul>
        <li>has passed unanimously but ran out of time in the Senate before session ended.</li>
        <li>angle parking is safer for motorcycles.</li>
        <li>space saver for curbside & parking spaces (allows multiple motorcycles per space). Especially important for cities in need of increasing available curbside space, such as Bellevue.</li>
    </ul>
</p>
<h4>HB 1058 - 2019-20</h4>
    Establishing permissible methods of parking a motorcycle.
<br />
    Sponsors: <a href="http://leg.wa.gov/house/representatives/pages/default.aspx#Irwin">Irwin</a>,
<a href="http://leg.wa.gov/house/representatives/pages/default.aspx#Blake">Blake</a>,
<a href="http://leg.wa.gov/house/representatives/pages/default.aspx#Van Werven">Van Werven</a>,
<a href="http://leg.wa.gov/house/representatives/pages/default.aspx#Bergquist">Bergquist</a>,
<a href="http://leg.wa.gov/house/representatives/pages/default.aspx#Walsh">Walsh</a>,
<a href="http://leg.wa.gov/house/representatives/pages/default.aspx#MacEwen">MacEwen</a>,
<a href="http://leg.wa.gov/house/representatives/pages/default.aspx#Shea">Shea</a>,
<a href="http://leg.wa.gov/house/representatives/pages/default.aspx#Jinkins">Jinkins</a>,
<a href="http://leg.wa.gov/house/representatives/pages/default.aspx#Wylie">Wylie</a>,
<a href="http://leg.wa.gov/house/representatives/pages/default.aspx#Goodman">Goodman</a>,
<a href="http://leg.wa.gov/house/representatives/pages/default.aspx#Barkis">Barkis</a>
</p>
<br />
<p>
    <h4>SB 5653 - 2019-20</h4>
    Establishing permissible methods of parking a motorcycle.<br />
    Sponsors:
    <a href="http://leg.wa.gov/senate/senators/pages/default.aspx#Fortunato">Fortunato</a>,
    <a href="http://leg.wa.gov/senate/senators/pages/default.aspx#Hasegawa">Hasegawa</a>,
    <a href="http://leg.wa.gov/senate/senators/pages/default.aspx#Takko">Takko</a>,
    <a href="http://leg.wa.gov/senate/senators/pages/default.aspx#Brown">Brown</a>,
    <a href="http://leg.wa.gov/senate/senators/pages/default.aspx#Becker">Becker</a>,
    <a href="http://leg.wa.gov/senate/senators/pages/default.aspx#Padden">Padden</a>,
    <a href="http://leg.wa.gov/senate/senators/pages/default.aspx#Wilson">Wilson, L.</a>,
    <a href="http://leg.wa.gov/senate/senators/pages/default.aspx#Schoesler,">Schoesler,</a>,
    <a href="http://leg.wa.gov/senate/senators/pages/default.aspx#Short">Short</a>,
    <a href="http://leg.wa.gov/senate/senators/pages/default.aspx#Holy">Holy</a>,
    <a href="http://leg.wa.gov/senate/senators/pages/default.aspx#Warnick">Warnick</a>,
    <a href="http://leg.wa.gov/senate/senators/pages/default.aspx#Sheldon">Sheldon</a>,
    <a href="http://leg.wa.gov/senate/senators/pages/default.aspx#Honeyford">Honeyford</a>,
    <a href="http://leg.wa.gov/senate/senators/pages/default.aspx#Saldana">Saldana</a>,
    <a href="http://leg.wa.gov/senate/senators/pages/default.aspx#Hobbs">Hobbs</a>,
    <a href="http://leg.wa.gov/senate/senators/pages/default.aspx#Palumbo">Palumbo</a>,
    <a href="http://leg.wa.gov/senate/senators/pages/default.aspx#Randall">Randall</a>
</p>

