﻿
@{
    ViewBag.Title = "FromYourLAO";
}

<h2>News from Your Legislative Affairs Officers</h2>

@*<div class="panel panel-info panel-default">
    <div class="panel-heading">
        Black Thursday 2021
    </div>
    <div class="panel-body">
        <p>
            Upcoming Black Thursday is scheduled for January 21st, 2021.  A detailed agenda is in the works.  Please manage  your schedule so that you can attend the upcoming Black Thursday event!
        </p>

    </div>
</div>*@

<div>
    <p>
        BLACK THURSDAY - Our Black Thursday event at the Capitol has been cancelled for this year (2021).  The details are listed below for everyone's information.  ABATE of WA does intend to push our legislative issues through the legislature this year - it will just have to be done remotely.
    </p>
    <u>2021 Bills</u>
    <ul>

        <li>Right Hand Shoulder Bill - sponsor Rep Ed Orcutt,  Bill language has been prepared and should be dropped soon</li>
        <li>Lane Sharing for Safety Bill - sponsor Rep Drew MacEwen; has already been dropped and is numbered 1106</li>
        <li>Helmet Bill - sponsor Rep Matt Boehnke</li>

    </ul>

    <p>
        The Legislature will convene for a Regular Session on January 11, 2021.
    </p>
    <p>
        Senate Transportation Committee will  meet (virtual) on 1/12 and 1/14 with the main agenda item to be discussion on Governor's proposed budget
        House Transportation Committee has no scheduled meetings at this time
    </p>

    <p>
        The WA state legislative pages have yet to be updated with contact information for the 2021 incoming Legislators.  We will continue to check the web pages and inform our membership as soon as we have the updated information;  To find who the current Legislators are for the 2021 session, go to the Secretary of State's website (www.sos.gov), click on "Election Results 2020", then click on your district number.
    </p>

    <h3>BLACK THURSDAY Event Request</h3>
    <div style="border: solid 1px black">
        <p>
            This is to confirm that your event has been cancelled for the following reason:<br />
            Thank you for your application to hold a Capitol Campus Event.
        </p>
        <p>
            We are sorry to inform you that all campus events (conditionally permitted or pending permit requests) through 1/22/2021 are cancelled/denied. The Department of Enterprise Services is not issuing permits for Capitol Campus events at this time in compliance with the status on allowed gatherings in the phased reopening plan for Washington State as well as the need for new health and safety protocols for the campus. Department of Enterprise Services is closely monitoring the situation and at this time do not have enough information to predict when DES will begin regularly issuing event permits.
        </p>
        <p>
            DES will refund all fees associated with event permits due to COVID-19.
        </p>
        <p>
            If you have questions, please contact the DES Visitor Services Program at (360) 902-8881 or campusevents@des.wa.gov.
        </p>
        <p>
            Permit Number:<br />
            Event Name: BLACK THURSDAY<br />
            Event Date(s):<br />
            1/21/2021  To:  1/21/2021<br />
        </p>
        <p>
            If you have any questions, please contact Visitor Services at (360) 902-8881 or by email campusevents@des.wa.gov.
        </p>
        <p>
            Date:  12/22/2020
        </p>
    </div>

</div>

<hr />
<p>
    Last month's ECOMM agenda included a line item about Black Thursday.  Yes, it's June and discussions about Black Thursday are arising.  Our legislative issues exist all year long and constantly need our attention.  The months of June, July, August and September are times when members should spend some time reviewing the WA State legislative page - especially the District Pages and Legislators' bio-pages.  It really does not take a lot of time or effort to become familiar with the Legislators who govern the districts in which we live.  It's also a good time to review the Legislator's actions, such as how/ when they vote on issues that support our agenda of motorcycle rights and safety. The main web page for the state's legislative information is:
</p>
<br />
<a href="https://www.leg.wa.gov">Washington State Legislative Website (www.leg.wa.gov)</a>
<br />
<p>
    Please take some time to review your Legislators and your legislative district's issues during these months of "legislative down time".
</p>

<p>
    Another agenda item discussed at ECOMM was the Bills that we are considering for this upcoming biennium.  Two new Bills have been presented to me and they both seem to have promise toward gaining Legislators' approval. The Bills for the 2020-21 biennium include:

</p>
<p>
    <ul>
        <li>
            Helmet Pilot Bill
        </li>
        <li>Lane Sharing Bill</li>
        <li>Weight Fee - this one may be delayed due to it's financial issues</li>
        <li>New one suggested - Handicap parking space allowance - this bill would allow more than one bike per handicap spot if at least one bike has a decal</li>
        <li>New one suggested - Awareness Bill - this bill would detail measures designed to increase motorcycle awareness on roadways.</li>
    </ul>

</p>

<p>
    This coming legislative session starts a new biennium which allows any Bill we present to remain active for 2 years. Every chapter should review the above mentioned Bills and be prepared to discuss them during our next Board of Directors' meeting in July.
</p>
<p>
    Several legislative seats are being vacated or running opposed this year.  Here is a summary of those positions (including the positions detailed in the May edition of the Freedom newsletter):
</p>

<ul>
    <li>Representative Doglio (Distr 22, Olympia, Lacey area) is leaving her state seat to run for Congress</li>
    <li>Representative Mead (Distr 44, Snohomish, Lake Stevens area) is leaving his seat to run for City Council</li>
    <li>Representative DeBolt (Distr 20, Centralia Morton, Packwood area) is leaving his seat for retirement.</li>
    <li>ABATE's Legislative Officer, Brian Lange has announced that he is running for the Distr 20 Representative seat vacated by DeBolt. Obviously, having someone like Brian Lange in the Legislature would be a great benefit for ABATE's efforts.  You can find more information about Brian's campaign status, donation options, and where he stands on issues through his Facebook page: Elect Brian Lange for 20th District Position 1 R. </li>
    <li>Mr. Kyle Paskewitz has announced his candidacy for the DIstrict 27 (Tacoma area) Senate seat, running against incumbent Sen Jeannie Darnielle</li>

</ul>
<p>
    We will continue to watch the Legislative candidacy situation throughout the year and report updates as we get them.  Also, we do intend to present a rundown of the Candidates running for reelection (as they relate to our issues) later this year.
</p>
<p>
    Please remember, these "in-between" months are good opportunities to evaluate the current Legislators in office and review those who are newly running.  It is incumbent upon us, as lobbyists for motorcycle rights, to take a little time to evaluate and determine which Legislators support our causes and which ones don't.
</p>
<p>
    As a Side Note:  Congratulations to Freedom of the Road Riders and ABATE of Missouri on passing a helmet modification bill. The bill would allow riders 26 and older to choose whether or not to wear a helmet as long as they have medical insurance. It is expected to be signed by the Governor and go into effect August 28th -  HB 1963, Motorcycle Helmet Law
</p>
<br />
<p>
    Louise Bentley <br />
    &<br />
    Brian Lange<br />
    Legislative Affairs Officers<br />
    253-495-3624
</p>
