﻿@{
    ViewBag.Title = "HowToContact";
}

<h2 class="text-center">How to Contact Your Legislator</h2>

<div class="row">
    <div class="col-md-12">

        <p>Two ways to contact your State legislators to voice concerns, opposition or support of Bills:</p>

        <p>
            If you follow the following steps on-line, it makes it easy to send an email
            to all 3 of the state legislators from your district in about 5 minutes.
        </p>


        <h4>EMail</h4>
        <ul class="list-style-none">
            <li>1. Go to : @Html.ExternalLink("http://www.leg.wa.gov/legislature", "http://www.leg.wa.gov/legislature", new { target ="_blank" })</li>
            <li>2. Click 'Find your Legislator' on the left hand side</li>
            <li>3. On the tab 'find your district', type in your address information</li>
            <li>4. Click on any of the legislators listed (this will bring you to their web page)</li>
            <li>5. Click the word 'e-mail' (just to the right of their picture)</li>
            <li>6. Type in your address again</li>
            <li>7. Fill in the blanks on this page and be sure to check off the following:</li>
            <li>
                <ul class="list-style-none">
                    <li>a. To receive a a response, please check..........................</li>
                    <li>b. Check here if you wish to send a copy to.........................</li>
                </ul>
                (This will send the same email to your district Senator and both of your representatives, and it will make sure that you receive a response from your legislator.)
            </li>



            <li>8. cut and paste one of the form letters that ABATE provided, or put in wording of your own.</li>
        </ul>

        <h4>Phone</h4>

        <p>Toll free number in Olympia to voice your concerns about a bill:</p>

        <p>1-800-562-6000</p>
    </div>

</div>