﻿@model ABATE.Washington.Core.Models.Event



@using (Ajax.BeginForm("SaveEvent", "Events", FormMethod.Post, new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "response", InsertionMode = InsertionMode.InsertAfter }, new { @id = "eventSubmit" }))
{
    <div class="row">
        <div class="col-md-6">

            @Html.HiddenFor(model => model.id, new { @id = "id" })
            @Html.HiddenFor(model => model.FlyerImage, new { @id = "FlyerImage" })

            <div class="row">
                <div class="col-sm-3">
                    @Html.LabelFor(model => model.Title, "Event Name")
                </div>
                <div class="col-sm-9">
                    @Html.TextBoxFor(model => model.Title, new { @id = "Title", @placeholder = "Event Name", @class = "input-large" })
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-sm-3">
                    @Html.LabelFor(model => model.StartDate, "Start Date")
                </div>
                <div class="col-sm-9">
                    @Html.TextBoxFor(model => model.StartDate, new { @placeholder = "Start Date", @id = "start" })

                    @*@Html.TextBoxFor(model => model.StartDate.Value.TimeOfDay, new { @placeholder = "Start Time", @id = "startTime", @class = "input-small" })*@

                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-sm-3">
                    @Html.LabelFor(model => model.EndDate, "End Date")
                </div>
                <div class="col-sm-9">
                    @Html.TextBoxFor(model => model.EndDate, new { @placeholder = "End Date", @id = "end" })

                    @*@Html.TextBoxFor(model => model.EndDate.Value.TimeOfDay, new { @placeholder = "End Time", @id = "endTime", @class = "input-small" })*@
                  
                </div>
              
            </div>




            <div class="row">
                <div class="col-md-12">
                    <br />
                    <br />
                    @Html.LabelFor(model => model.Description, "Event Details")

                    @Html.TextAreaFor(model => model.Description, new { @style = "width: 300px !important; height: 200px;", @id = "Description" })
                </div>
              
            </div>
            <br />
            <div class="row">
                <div class="col-sm-12">
                    <input type="checkbox" id="@Html.IdFor(model => model.AbateEvent)" name="@Html.NameFor(model => model.AbateEvent)" value="true" checked=@Model.AbateEvent /> @Html.LabelFor(model => model.AbateEvent, "Is this an ABATE Event?")
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <img id="flyer" style="max-width: 100%; height: 400px; width: 300px;" />
        </div>
    </div>
}


<div id="fileupload" class="text-right" style="padding-top: 20px;">
    @using (Ajax.BeginForm("Post", "Documents", FormMethod.Post, new AjaxOptions { OnSuccess = "OnSuccess", OnFailure = "OnError" }, new { @enctype = "multipart/form-data", @class = "attachmentUpload" }))
    {
        <div class="fileupload-buttonbar">
            <label>
                <span class="btn btn-default">Add a Flyer...</span>
                <input style="visibility: hidden;" type="file" id="fileUpload_input" name="files" @*multiple="multiple"*@ />
            </label>

            <div class="fileupload-progressbar"></div>
        </div>
    }


    <div class="fileupload-content">
        <table class="files"></table>
    </div>
</div>


<script>
    $(document).ready(function () {
        $('#start').change(function (e) {
            if(moment($('#end').val()) < moment($('#start').val()))
            {
                $('#end').val($('#start').val());
            }
        });

        $('#fileUpload_input').change(function () {
            if ($('#fileUpload_input').val() == "") {
                return;
            }
            // your ajax submit

            $.ajax({
                url: '@Url.Action("Post","Documents")',
                type: 'POST',
                data: new FormData($('.attachmentUpload')[0]),
                processData: false,
                contentType: false,
                success: function (data) {
                    $('.attachmentUpload')[0].reset();
                    $('#flyer').attr('src', data);
                    $('#FlyerImage').val(data);
                }
            });


            // reset the field
            //$('#fileUpload_input').replaceWith('<input type="file" class="file" id="fileUpload_input" name="files" />');
        });


    });
    $(document).ready(function () {
        $('#start').datepicker();
        $('#end').datepicker();
            });
</script>
