﻿@model ABATE.Washington.Core.Models.TicketSale
<div class="row">
    <div class="col-md-6">
        Purchase Option: <br /> @Html.DisplayFor(model => model.PurchaseItem.Name, new { @class = "form-control" })
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        Quantity:  @Html.DisplayFor(model => model.Quantity, new { @class = "form-control" })<br />
    </div>
</div>
<div class="row">
    <div class="col-md-6"><br />
        SubTotal: @Html.DisplayFor(model => model.Invoice.SubTotal) <br />
        Transaction Fee: @Html.DisplayFor(model => model.Invoice.TransactionFee)<br />
        Total: @Html.DisplayFor(model => model.Invoice.Total)<br />
    </div>
</div>

<div class="row">

    <div class="col-md-6"><br />
        ABATE Member Number:  @Html.DisplayFor(model => model.MemberNumber, new { @class = "form-control" }) <br />
    </div>
</div>
<div class="row">
    <div class="col-md-8"><br />
        Transaction: @Html.DisplayFor(model => model.Invoice.TransactionID, new { @class = "form-control" }) Paid: @Html.DisplayFor(model => model.Invoice.PaidDateLocal, new { @class = "form-control" });
    </div>
</div>


<script>


</script>
