﻿
<div class="row">
    @*<div class="col-md-6">
        Start Date:<label id="eventStartDate"></label>&nbsp;End Date:<label id="eventEndDate"></label><br />
        <div id="displayEventDetails"></div>
    </div>*@
    <div class="col-md-6">
        <img src="" id="displayFlyerImage" style="width:300px; height:400px;" />
    </div>

    @if (User.Identity.IsAuthenticated && User.IsInRole(ABATE.Washington.Web.Models.ApplicationRoles.EventAdmin))
    {

        <input type="button" class="btn btn-default" onclick="$('#displayEventModal').modal('hide'); $('#eventModal').modal('show');" value="Edit Event" />
    }
</div>
