﻿
@{
    ViewBag.Title = "About";
}

<h2>Spring Opener: June 24-27, 2021</h2>
<div class="row">
    <div id="sidebar" class="col-sm-2">
        <ul>
            <li>@Html.ActionLink("Spring Opener", "SpringOpener", "Events")</li>
            <li>@Html.ActionLink("About", "About", "Events")</li>
            <li>@Html.ActionLink("Itinerary", "Itinerary", "Events")</li>
            <li>@Html.ActionLink("Tickets", "Tickets", "Events")</li>
            <li>@Html.ActionLink("Raffles", "Raffles", "Events")</li>
            <li>@Html.ActionLink("Event Info", "EventInfo", "Events")</li>
        </ul>
    </div>
    <div class="col-md-9">
        <h3>About</h3>
        <strong>The following services will be available at the ranch:</strong>
        <ul>
          <li>Tent Camping included with your admission</li>
          <li>RV Hookups permitted with $60 hookup fee</li>
          <li>Portable restrooms will be available throughout the ranch</li>
          <li>Water spickets are located throughout the ranch</li>
          <li>Coin-operated Showers are available at the restroom near the entrance</li>
          <li>Food, Retail and many other vendors will be onsite</li>
          <li>Alcohol WILL NOT be sold on the premises, but you are free to bring your own</li>
          <li>Firewood & Ice will be available for purchase</li>
          <li>Lots of exciting events including: Bike Games, Bike Show, Bike Bikini Wash, Tattoo Contest, LIVE MUSIC and much more! </li>
        </ul>
        <br/>
        <br/>
        @*<h4>Some Notes from Our State Coordinator - Lyle Coyle</h4>
        <p>Hi Everyone!<br/>
        Spring Opener 2016 will once again be at the Silver Ridge Ranch in Easton WA, right off exit 70 on I-90. 
        <br/><br/>
        As in the past, Jimmy George and his committee are making each year better than the last and I believe you will truly enjoy what is planned for this year. We don't have all the details worked out right now so keep checking as info will change. There will be the usual events like bike games, bike show, scavenger hunt, tattoo contest, vendors and much more... in other words something for everyone. 
        <br/><br />
        Even though we want everyone to attend and have a righteous time, as it is at any event, there are things you can do and things you can't.  <br/>
        <ul>
            <li><h5>FIRES & FIRE PITS</h5>
            You CAN have a camp fire in a designated fire pit or in an acceptable fire pit you bring with you. If you bring you own fire pit it must have legs so it sits off the ground. If you do not bring your own firewood you can purchase it from the ranch there will be no other firewood vendor. You CANNOT make a fire on the ground, the ranch has permits for fire pits and can lose their permit if someone has a fire on the ground and if they lose their permit there will be no fires at all. If you have your own fire pit do not dump the ashes on the ground, make sure they are cold and out and put them in the garbage</li>
            <li><h5>PETS & SERVICE ANIMALS</h5>
            This item is probably the most controversial, you CAN have a service animal at the event but you CANNOT have a pet. I know that there are some people that consider their pets as part of the family and would not dream of leaving them behind but this is one time you will have to, if you bring a pet that is not a service animal you will be asked to leave. If you have a legitimate SERVICE ANIMAL there are certain rules you have to follow, they must be on a leash at all times, you must pick up after your service animal, that means carrying a bag with you to pick up poop (no one wants to step in poop), your service animal cannot be noisy, unruly, or a danger to anyone. If you do not follow these rules you will be asked to leave.
            </li><br/>
            <li><h5>ATTITUDES</h5>
            BAD ATTITUDES are not wanted if you have one and cannot leave it at home then stay home with it. If you drink and want to get in someone's face or fight don't drink or stay home. 
            </li><br/>
            <li><h5>FIREARMS & FIREWORKS</h5>
            NO DISCHARGING FIREARMS OR PYROTECHNICS of any kind. There are a number of reasons for this, first and foremost is the safety of others, also the ranch has horses and if you scare their horses they could kick us out, also it is against the law, once again if you can't follow the rules you will be asked to leave. 
            </li><br/>
            </ul>
        I know what some of you are saying "Man we are bikers what's with all the rules" well here is the way it is, it doesn't matter if you a biker, motorcycle enthusiast, non-biker, or just everyday citizen attending the event. Everyone who pays their money to attend deserves the same respect that you would expect someone to give you. I also know that the NO'S and the CANNOT people are a very small number and the majority of the people just want to party, listen to music, and enjoy the company of good friends new and old.
        <br/><br/>
        So just come and have fun, enjoy the bike show, bike games, music and all the other festivities.</p>*@
    </div>
</div>
