﻿@model ABATE.Washington.Core.Models.TicketSale
@{
    ViewBag.Title = "Completed Ticket Sale";
}

<div class="row">
    <div class="col-md-12">
        <h4>Ticket Sale Completed!</h4>
        <p>Please print this form for your records.</p>
        <p>Your purchased tickets will be available at the gate.  If you bought member tickets, please make sure to bring your membership card to retrieve your tickets at the gate.</p>
    </div>
</div>
@Html.Partial("_TicketSale", Model)
