﻿@{
    ViewBag.Title = "Event Calendar";
}

@section Scripts {
    @Scripts.Render("~/bundles/ko")




}
<script src="//ajax.aspnetcdn.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js"></script>
<script>
    function OnError() {

    }
    function OnSuccess(e) {
        alert(e.success);
    }
</script>
<div class="modal fade" id="eventModal" tabindex="-1" role="dialog" aria-labelledby="eventModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title" id="myModalLabel">Tell us about your event!</h4>
            </div>
            <div class="modal-body">

                @Html.Partial("_EditEvent", new ABATE.Washington.Core.Models.Event())

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" @*data-dismiss="modal"*@ onclick="CloseDialog();">Close</button>
                <button type="button" class="btn btn-primary" onclick="saveChanges();">Save changes</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="displayEventModal" tabindex="-1" role="dialog" aria-labelledby="eventModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title" id="eventModalLabel"></h4>
            </div>
            <div class="modal-body">

                @Html.Partial("_ViewEvent")

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script>
    function saveChanges() {
        jQuery.ajaxSettings.traditional = true;
        var formData = $('#eventSubmit'); //$('#eventSubmit').serialize().replace(/%0D%0A/g, '%0A');
        var formD = formData.serialize();
        $.ajax({
            url: '@Url.Action("","api/Events")',
            type: 'POST',
            contentType: 'application/x-www-form-urlencoded',
            data: formData.serialize(),
            success: function (data) {
                CloseDialog();

            },
            error: function (data, error) {

            }
        });

    }

    function CloseDialog() {
        $('#eventModal').modal('hide');
        $('#eventSubmit')[0].reset();
        $('.attachmentUpload')[0].reset();
        $('#flyer').attr('src', '');
        $('#Description').htmlarea('html', ' ');
        $('#calendar').fullCalendar('refetchEvents');

    }
</script>

<h2 class="text-center desktop-only">Event Calendar</h2>
<h2 class="text-center mobile-only">Upcoming Events</h2>


<div id="eventAgendaView" class="mobile-only">
    <div class="row" style="border-bottom: 1px solid black;" data-bind="foreach: eventDates">
        <div class="col-xs-3"><h4 data-bind="text: moment(eventDate()).format('DD MMM')"></h4></div>
        <div class="col-xs-9" >
            <div class="row" style="margin: 10px;"  data-bind="foreach: Events">
                <div class="col-xs-12"><a href="" data-bind="click: function() { ShowEvent(id()) }, text: Title"></a></div>
            </div>
        </div>
        
    </div>

</div>
<div id="calendar" class="desktop-only"></div>

<script>



    function ShowEvent(id) {
        var event;

        $.ajax({
            url: '@Url.Action("Get", "api/Events")',
            data: { id: id },
            success: function (data) {
                event = data;
                $('#displayEventDetails').html(data.Description);
                $('#eventStartDate').html(moment(data.StartDate));
                if (!(data.EndDate === 'undefined'))
                    $('#eventEndDate').html(moment(data.EndDate));

                $('#displayFlyerImage').attr('src', data.FlyerImage);

                // reset form values from json object
                $.each(data, function (name, val) {
                    var $el = $('#' + name + ''),
                        type = $el.attr('type');

                    switch (type) {
                        case 'checkbox':
                            $el.attr('checked', 'checked');
                            break;
                        case 'radio':
                            $el.filter('[value="' + val + '"]').attr('checked', 'checked');
                            break;
                        case 'img':
                            $el.attr('src', val);
                            break;
                        default:
                            $el.val(val);
                    }
                    if (name === 'Description') {
                        $el.htmlarea('html', val);
                    }
                    if (name === 'FlyerImage')
                    {
                        $('#flyer').attr('src', val);
                    }
                });

                $('#start').datepicker();
                $('#end').datepicker();
                //$('#Description').htmlarea();

            }
        });

        $('#displayEventModal').modal('show');
    }
    $(document).ready(function () {
        $('#start').datepicker();
        $('#end').datepicker();
        $('#Description').htmlarea();
        //$('#endTime').timepicker({
        //    minuteStep: 5,
        //    showInputs: false,
        //    disableFocus: true,
        //    template: 'modal'
        //});
        //$('#startTime').timepicker({
        //    minuteStep: 5,
        //    showInputs: false,
        //    disableFocus: true,
        //    template: 'modal'
        //});

        $('#calendar').fullCalendar({
            header: {
                left: 'prev,next today',
                center: 'title',
                right: 'month'
            },
            //defaultDate: '2015-02-12',
            selectable: true,
            selectHelper: true,
            eventClick: function (calEvent, jsEvent, view) {
                $('#eventModalLabel').html(calEvent.title);
                ShowEvent(calEvent.id);
            },
            @if(User.Identity.IsAuthenticated && User.IsInRole(ABATE.Washington.Web.Models.ApplicationRoles.EventAdmin)){
                <text>
            select: function (start, end) {
                $('#startDate').val(start.startOf('day').format('MM-DD-YYYY'));
                $('#endDate').val(moment(end).subtract({ minutes: 1 }).endOf('day').format('MM-DD-YYYY'));
                var title;
                var eventData;
                if (title) {
                    eventData = {
                        id: id,
                        title: title_text,
                        start: start,
                        end: end
                    };
                    //$('#calendar').fullCalendar('renderEvent', eventData, true); // stick? = true

                }
                $('#calendar').fullCalendar('unselect');
                $('#eventModal').modal('show');
                $('#Description').htmlarea({
                    toolbar: [
                        //'html',
                        'bold',
                        'italic',
                        'underline',
                        'strikethrough',
                        '|',
                        'p',
                        'h4',
                        'h5',
                        'h6',
                        'link',
                        'unlink',
                        'orderedList',
                        'unorderedList',
                        'indent',
                        'outdent',
                        '|',
                        'justifyleft',
                        'justifycenter',
                        'justifyright',
                        'horizontalrule'
                    ]

                });


            },
            </text>
            }
            editable: false,
            eventLimit: true, // allow "more" link when too many events
            events: function (start, end, timezone, callback) {
                $.getJSON('@Url.Action("Search", "api/Events")', { start: moment(start).format(), end: moment(end).format() }, function (data) {
                    $(data).each(function (e, v) {
                        $('#calendar').fullCalendar('renderEvent', {id: v.id, start: v.start, end: v.end, title: v.title_text, allDay: v.allDay });

                    });
                    
                });

            },
        });

    });


    $(function () {
        var webroot = '@Url.Content("~")';


        function EventList() {
            var self = this;

            self.eventDates = ko.observableArray();

            self.loadList = function () {
                $.getJSON('@Url.Action("GetUpcomingEvents","Events")', function (data) {
                    var dataJson = $.parseJSON(data);
                    ko.mapping.fromJS(dataJson, {}, self.eventDates);
                });
            };
            self.showEvent = function (id) {
                ShowEvent(id);
            }
            return self;
        }


        var vm = new EventList();
        vm.loadList();
        ko.applyBindings(vm);

    });
</script>
