﻿
@{
    ViewBag.Title = "EventInfo";
}

<h2>Spring Opener: June 24-27, 2021</h2>
<div class="row">
    <div id="sidebar" class="col-sm-2">
        <ul>
            <li>@Html.ActionLink("Spring Opener", "SpringOpener", "Events")</li>
            <li>@Html.ActionLink("About", "About", "Events")</li>
            <li>@Html.ActionLink("Itinerary", "Itinerary", "Events")</li>
            <li>@Html.ActionLink("Tickets", "Tickets", "Events")</li>
            <li>@Html.ActionLink("Raffles", "Raffles", "Events")</li>
            <li>@Html.ActionLink("Event Info", "EventInfo", "Events")</li>
        </ul>
    </div>
    <div class="col-md-4">
        <h3>Event Info</h3>
        <h4>Location</h4>
        <p>
            Silver Ridge Ranch<br />
            182 Silver Ridge Ranch Rd<br />
            Easton, WA 98925<br />
            Office Phone: 509-656-0275<br />
            <a href="http://www.silverridgeranch.com/" target="_blank">Website</a><br />
            <a href="http://www.silverridgeranch.com/Camping/map-camprgounds/" target="_blank">Campground Map</a>

        </p>
        <br />
        <h4>Important Information</h4>
        <p>RV Hookups are available for $60 - Free tent camping is included with admission.  Showers and portable restrooms are available onsite.
        <br/>
            <strong>The following items are restricted:</strong>
            <ul>
                <li><strong>NO Firearms</strong></li>
                <li><strong>NO Fireworks</strong></li>
                <li><strong>NO Pets</strong> Only Services Animals ARE allowed</li>
                <li><strong>NO Attitudes</strong></li>
                <li><strong>NO fires outside of permitted firepits</strong><br/>
                    
            </ul>
        </p>
    </div>
    <div class="col-md-4" style="border: 1px solid #eee;">
        <h4><iframe width="360" height="240" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=Silver%20Ridge%20Ranch&key=AIzaSyCAS1DfItlS3Nt7NyOCPakekErNKNigzz4"></iframe></h4>
        <br/>
    <h4>ABATE of Washington Spring Opener Contacts</h4>
    <h4>253-326-5201</h4>
    <p>
        Lyle Coyle:      253-326-5201<br />
        Scott Robinson:  253-326-5201<br />
        Koeta Imhof:     253-845-7013<br />
        Jimmy George:    253-678-1713
        Vendors can contact ABATE at 253-678-1713
    </p>
   </div>
</div>

