﻿
@{
    ViewBag.Title = "Itinerary";
}

<h2>Spring Opener: June 24-27, 2021</h2>
<div class="row">
    <div id="sidebar" class="col-sm-2">
        <ul>
            <li>@Html.ActionLink("Spring Opener", "SpringOpener", "Events")</li>
            <li>@Html.ActionLink("About", "About", "Events")</li>
            <li>@Html.ActionLink("Itinerary", "Itinerary", "Events")</li>
            <li>@Html.ActionLink("Tickets", "Tickets", "Events")</li>
            <li>@Html.ActionLink("Raffles", "Raffles", "Events")</li>
            <li>@Html.ActionLink("Event Info", "EventInfo", "Events")</li>
        </ul>
    </div>
    <div class="col-md-9">
        <div class="row">
            <div class="col-md-12">

                <h3>Itinerary</h3>
                <p>More information will be posted at a later date.</p>
                @*<p>
                    Most activities occur in the amphitheater<br />
                    <i>Note: Itinerary subject to change without notice.</i>
                </p>
                <div id="SO-date" class="col-sm-3">
                    <h4>Thursday</h4>

                    <span class="time">12 NOON</span><br />
                    Gate Opens<br />
                    <span class="time">5-10pm</span><br />
                    Karaoke in the bowl<br />
                </div>
                <div id="SO-date" class="col-sm-3">
                    <h4>Friday</h4>
                    <span class="time">10am</span><br />
                    Spanaway Chapter Poker Run<br />
                    <span class="time">1pm</span><br />
                    Burnout Contest<br />
                    <span class="time">TBA</span><br />
                    Vibrator Race<br />
                    <span class="time">3pm</span><br />
                    Live Music - One Gun Shy<br />
                    <span class="time">TBA</span><br />
                    Car Toys Motorcycle Audio Competition<br />
                    <span class="time">7:30pm</span><br />
                    Live Music - Darin Jones and the Last Men Standing<br />
                    <span class="time">After the band</span><br />
                    Motorcycle Burnout Championship<br />
                    <span class="time">10pm</span><br />
                    Live Music - Powerhouse
                </div>
                <div id="SO-date" class="col-sm-3">
                    <h4>Saturday</h4>
                    <span class="time">9:30am-12pm</span><br />
                    Bike Show<br />
                    <span class="time">TBA</span><br />
                    Bikini Bike Wash<br />
                    <span class="time">12pm - 5pm</span><br />
                    Bike Games hosted by Tacoma Chapter<br />
                    <span class="time">After Bike Games</span><br />
                    Moonshine/Pie Tasting Contest<br />
                    <span class="time">7:30pm</span><br />
                    Live Music - Petty Fever
                    <span class="time">10pm</span><br />
                    Raffle Drawings<br />
                    <span class="time">After Raffle</span><br />
                    Miss Spring Opener Contest<br />
                    <span class="time">10:45pm</span><br />
                    Live Music - Jarod Blake
                </div>
                <div id="SO-date" class="col-sm-3">
                    <h4>Sunday</h4>
                    SAY TO YOURSELF “WOW, WHAT A GREAT TIME”. CLEAN UP, PACK UP,
                    AND GO KICKING &amp; SCREAMING BACK TO REALITY WITH SOME
                    AWESOME MEMORIES AND MAYBE EVEN A FEW NEW FRIENDS!
                </div>*@
            </div>

        </div>

        <div class="row">
            @*<div class="col-md-12" style="text-align: center">
                <h3>THANK YOU FOR ATTENDING THE 41st ANNUAL ABATE OF WASHINGTON SPRING OPENER 2019.</h3>
                <h3>SEE YOU ALL NEXT YEAR!</h3>
            </div>*@
        </div>
    </div>
</div>

