﻿
@{
    ViewBag.Title = "Raffles";
}

<h2>Spring Opener: June 24-27, 2021</h2>
<div class="row">
    <div id="sidebar" class="col-sm-2">
        <ul>
            <li>@Html.ActionLink("Spring Opener", "SpringOpener", "Events")</li>
            <li>@Html.ActionLink("About", "About", "Events")</li>
            <li>@Html.ActionLink("Itinerary", "Itinerary", "Events")</li>
            <li>@Html.ActionLink("Tickets", "Tickets", "Events")</li>
            <li>@Html.ActionLink("Raffles", "Raffles", "Events")</li>
            <li>@Html.ActionLink("Event Info", "EventInfo", "Events")</li>
        </ul>
    </div>
    <div class="col-md-9">
        <div class="row">
            <div class="col-md-6"><div class="col-md-6">@Html.ExternalLink("/Content/files/Raffle%20posterboard%202020.png", "<img src='/Content/files/Raffle%20posterboard%202020.png' style='max-width: 960px;' />")</div></div>
        </div>
    </div>
</div>
