﻿
@{
    ViewBag.Title = "SpringOpener";
}

<h2>Spring Opener: June 24-27, 2021</h2>
<div class="row">
    <div id="sidebar" class="col-sm-2">
        <ul>
            <li>@Html.ActionLink("Spring Opener", "SpringOpener", "Events")</li>
            <li>@Html.ActionLink("About", "About", "Events")</li>
            <li>@Html.ActionLink("Itinerary", "Itinerary", "Events")</li>
            <li>@Html.ActionLink("Tickets", "Tickets", "Events")</li>
            <li>@Html.ActionLink("Raffles", "Raffles", "Events")</li>
            <li>@Html.ActionLink("Event Info", "EventInfo", "Events")</li>
        </ul>
    </div>
    <div class="col-md-6">

        <iframe width="560" height="315" src="https://www.youtube.com/embed/w53pp4CUHpQ" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

        @*<p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>*@
        <div class="row">
            <div class="col-md-12">
                <h3>ABATE of Washington's 43rd Annual Spring Opener</h3>
                <h4>June 24-27</h4>
                <h5>@*<a href="https://www.abate-wa.org/Content/files/springopener_2017.jpg" target="_blank">Click to View Larger Flyer</a>*@</h5>
                <p>
                    Silver Ridge Ranch<br />
                    182 Silver Ridge Ranch Rd<br />
                    Easton, WA
                </p>
                <br />
                @*<h4>Gates Open to Public Thursday at 12 Noon</h4>
                <br/>
                <h4>Advanced Tickets:</h4>
                <p>
                ABATE Members: $35<br/>
                Non-Members: $50<br/>
                <i>Tickets sold at the gate will be an additional $5</i></p>
                <br/>
                <h4>Saturday Day/Overnight Pass:</h4>
                <p>
                ABATE Members: $30<br/>
                Non-Members: $40
                </p>*@
                <br />
                <p>Use Navigation on left side of page for ALL the info!</p>



            </div>
        </div>

    </div>
    <div class="col-md-3">
        @*<a href="https://www.abate-wa.org/Content/files/SpringOpener_2019.jpg" target="_blank">
            <img src="https://www.abate-wa.org/Content/files/SpringOpener_2019.jpg" width="360" alt="Spring Opener">
        </a>*@

    </div>
</div>

