﻿﻿
@{
    ViewBag.Title = "SwapMeet";
}
<div class="row">
    <div class="col-md-3">

    </div>
    <div class="col-md-6">
        <a href="/Content/files/Events/SPRNWA0118M19120312580.pdf.png" target="_blank">
            <img src="/Content/files/Events/SPRNWA0118M19120312580.pdf.png" width="400" alt="Swap Meet">
        </a>

    </div>
    <div class="col-md-3">
        <a class="btn btn-default" href='@Url.Content("~/Content/files/Events/2020%20Reservation%20Form.pdf")' download>Download the Reservation Form</a>
        <a class="btn btn-default" href='@Url.Content("~/Content/files/Events/2020%20Vendor%20Agreement%20Non-Food.pdf")' download>Download the Vendor Agreement</a>

    </div>
</div>