﻿@model ABATE.Washington.Web.Models.TicketView

@{
    ViewBag.Title = "Tickets";
}
@{Html.EnableClientValidation(true);}
@{Html.EnableUnobtrusiveJavaScript(true);}
<h2>Spring Opener: June 24-27, 2021</h2>
<div class="row">
    <div id="sidebar" class="col-sm-2">
        <ul>
            <li>@Html.ActionLink("Spring Opener", "SpringOpener", "Events")</li>
            <li>@Html.ActionLink("About", "About", "Events")</li>
            <li>@Html.ActionLink("Itinerary", "Itinerary", "Events")</li>
            <li>@Html.ActionLink("Tickets", "Tickets", "Events")</li>
            <li>@Html.ActionLink("Raffles", "Raffles", "Events")</li>
            <li>@Html.ActionLink("Event Info", "EventInfo", "Events")</li>
        </ul>
    </div>
    <div class="col-md-9">
        <h3>Tickets</h3>
        <p>
            Gates open at Noon on Thursday.  Tickets can be purchased from any Chapter at one of their events or meetings.  <br />
            Tickets can also be purchased online below.  Purchasers will need to bring their receipt for WILL CALL ticket pickup at the gate, at which they will receive their Spring Opener ticket.
        </p>
        <h4>Advanced Ticket Prices - Full Event</h4>
        <p>
            ABATE Members: $35<br />
            Non-ABATE Members: $50<br />
            <i>Tickets sold at the gate will be an additional $5</i>
        </p>
        <hr>
        <h4>Day/Overnight Passes for Saturday</h4>
        <p>
            ABATE Members: $30<br />
            Non-ABATE Members: $40
        </p>
        <hr>

@*
        @using (Html.BeginForm("SubmitTicketPurchase", "Events", FormMethod.Post, new { @id = "ticketSale", @class = "form-group" }))
        {
            <div class="row">
                <div class="col-md-12">
                    <h4>Online Ticket Sales</h4>
                    @Html.Label("Purchase Option")
                    @Html.DropDownListFor(model => model.PurchaseOption, new SelectList(Model.PurchaseOptions, "Value", "Text"), "-- Select a purchase option --", new { @id = "purchaseOption", @placeholder = "Purchase Options", @class = "form-control dropdown" })
                    @Html.ValidationMessageFor(model => model.PurchaseOption)

                    @Html.LabelFor(model => model.Quantity, "Quantity");
                    @Html.TextBoxFor(model => model.Quantity, new { @id = "quantity", @class = "form-control" })

                    @Html.LabelFor(model => model.MemberNumber, "ABATE Membership Number")
                    @Html.TextBoxFor(model => model.MemberNumber, new { @id = "membershipNumber", @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.MemberNumber, null, new { @class = "control-label text-warning fade in" })
                    <br />
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-md-offset-2">
                    <input type="submit" value="Submit" class="btn btn-default" />
                </div>
                <br />
                <br />
            </div>
            <div class="row">
                <div class="col-md-6">
                    *You will be directed to PayPal to make your ticket purchase.  There is a small transaction fee for this service.
                </div>
                <br />
            </div>
        }
*@

        @*<h4>Online Ticket Sales</h4>

            <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
                <input type="hidden" name="cmd" value="_s-xclick">
                <input type="hidden" name="hosted_button_id" value="VG9R7BXTVA4A4">
                <table align="left">
                    <tr><td><input type="hidden" name="on0" value="(Price includes $1.75 service fee)">(Price includes $1.75 service fee)</td></tr>
                    <tr>
                        <td>
                            <select name="os0">
                                <option value="ABATE Member">ABATE Member $36.75 USD</option>
                                <option value="Non-ABATE Member">Non-ABATE Member $51.75 USD</option>
                            </select>
                        </td>
                    </tr>
                    <tr><td><input type="hidden" name="on1" value="ABATE Membership Number">ABATE Membership Number</td></tr>
                    <tr><td><input type="text" name="os1" maxlength="200"></td></tr>
                    <tr>
                        <td>
                            <br />
                            <input type="hidden" name="currency_code" value="USD">
                            <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_cart_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                            <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1" align="center">
                        </td>
                    </tr>
                </table>

            </form>*@
    </div>
</div>
