﻿@model ABATE.Washington.Web.Models.Document


@using (Ajax.BeginForm("PostFile", "Documents", FormMethod.Post, new AjaxOptions { }, new { @id = "formFileUpload", @enctype = "multipart/form-data", @class = "attachmentUpload" }))
{
    <div class="row">
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-6">
                    @Html.LabelFor(d => d.Title)
                </div>
                <div class="col-md-6">
                    @Html.TextBoxFor(d => d.Title)
                </div>
                <br />
                <div class="col-md-6">
                    @Html.LabelFor(d => d.Description)
                </div>
                <div class="col-md-6">
                    @Html.TextBoxFor(d => d.Description)
                </div><br />
                <div class="col-md-6">
                    @Html.LabelFor(d => d.Category)
                </div>
                <div class="col-md-6">
                    @Html.TextBoxFor(d => d.Category)
                </div>
            </div>

        </div>
        <div class="col-md-6">
            @Html.HiddenFor(d => d.PageUrl, new { @Value = Request.Url.PathAndQuery })
            <div class="fileupload-buttonbar">
                <label>
                    <span class="btn btn-primary">Add a file...</span>
                    @Html.TextBoxFor(d => d.File, new { @id = "fileUpload_input", @style = "visibility: hidden", @type = "file", @name = "files" })
                    @Html.ValidationMessageFor(d => d.File)
                </label>
                <div class="fileupload-progressbar"></div>
            </div>

        </div>
    </div>


}

<div class="fileupload-content">
    <table class="files"></table>
</div>


<script>
    function saveChanges() {
        if ($('#fileUpload_input').val() == "") {
            return;
        }
        // your ajax submit

        $.ajax({
            url: '@Url.Action("PostFile","Documents")',
            type: 'POST',
            data: new FormData($('.attachmentUpload')[0]),
            processData: false,
            contentType: false,
            success: function (data) {
                $('#addDocumentModal').modal('hide');
            }
        });
    }
</script>