﻿@if (User.Identity.IsAuthenticated && User.IsInRole(ABATE.Washington.Web.Models.ApplicationRoles.SysAdmin)) {
<div class="row">
    <div class="col-md-pull-3">
        <input type="button" class="btn btn-primary" onclick="$('#addDocumentModal').modal('show');" value="Add file" />
    </div>
</div>
}

<br />
<div class="panel-group" id="accordian" data-bind="visible: loadList">
    <div class="panel panel-default" data-bind="foreach: documents">
        
            <div class="panel-heading">
                <h4><a data-toggle="collapse" data-parent="#accordian" data-bind="attr: { href: '#' + $index() }, text: Category"></a></h4>
            </div>
            <div class="panel-collapse collapse" data-bind="attr: { id: $index }">
                <div class="panel-body">
                    <div class="row" data-bind="foreach: Documents">
                        
                            <div class="col-sm-12"><a data-bind="attr: {href: DocumentPath, download: Title }, text: Title"></a><br />@*<input type="text" data-bind="test: Title, textInput: Title" />*@</div>
                       
                            @*<div class="col-md-4"><h5>Address</h5><br />@issue.Address1<br />@(!string.IsNullOrEmpty(chapter.Address2) ? chapter.Address2 : "") @chapter.City, @chapter.State @chapter.ZipCode<br />@chapter.Phone<br /> @if (chapter.WebSite != null) { Html.ExternalLink(chapter.WebSite, "Chapter Website", new { @target = "_blank" }); }</div>
                            <div class="col-md-4"><h5>Meeting Location: @chapter.MeetingLocation</h5><br />@chapter.MeetingAddress1<br />@(!string.IsNullOrEmpty(chapter.MeetingAddress2) ? @chapter.MeetingAddress2 : "")@chapter.MeetingCity, @chapter.MeetingState @chapter.MeetingZipCode<br />@chapter.MeetingPhone<br /><br /><i>@chapter.MeetingSchedule1<br />@chapter.MeetingSchedule2</i></div>
                            <div class="col-md-4"><embed width="300" height="225" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCAS1DfItlS3Nt7NyOCPakekErNKNigzz4&q=@(HttpUtility.UrlEncode(chapter.MeetingLocationQuery))"></embed></div>*@
                       
                    </div>
                </div>
            </div>
        

    </div>
</div>

<div class="modal fade" id="addDocumentModal" tabindex="-1" role="dialog" aria-labelledby="addDocumentModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title" id="myModalLabel">Add File...</h4>
            </div>
            <div class="modal-body">

                @Html.Partial("_AddDocument", new ABATE.Washington.Web.Models.Document())

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="saveChanges();">Save changes</button>
            </div>
        </div>
    </div>
</div>



@section Scripts {
    @Scripts.Render("~/bundles/ko")




}

<script>
    $(function () {
        var webroot = '@Url.Content("~")';
        

        function DocumentViewListModel() {
            var self = this;

            self.documents = ko.observableArray();

            self.loadList = function () {
                $.getJSON('@Url.Action("Get","Documents")', function (data) {
                    var test = JSON.stringify(data);
                    ko.mapping.fromJS(data, {}, self.documents);
                });
            };

            self.putList = function () {
                var datapackage = ko.mapping.toJSON(self.objects);
                $.ajax({
                    url: webroot + 'api/Products',
                    dataType: 'json',
                    contentType: 'application/json',
                    data: datapackage,
                    type: 'POST',
                    success: function (data) {
                        alert(data);
                    },
                    error: function () {
                        alert('Wha, Wha....');
                    }
                });
            };

            return self;
        }


        var vm = new DocumentViewListModel();
        vm.loadList();
        ko.applyBindings(vm);

    });
</script>

