﻿<div class="header-content">
    <div style="float: left;">
        <a href="~/" style="border: 0px;">
            <img src="~/Images/abate_wa_logo1.png" style="height: 100px;" alt="ABATE of Washington" />
        </a>
    </div>
    <div style="float: left;">
        <div>
            <h1>ABATE OF WASHINGTON</h1>
        </div>
        <div>
            <h2>A B<span style="color: #808080">rotherhood</span> A<span style="color: #808080">gainst</span> T<span style="color: #808080;">otalitarian</span> E<span style="color: #808080;">nactments</span></h2>
        </div>
    </div>
</div>
