﻿@using ABATE.Washington.Core.Models;

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='//fonts.googleapis.com/css?family=Fjalla+One' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>
    <title>@ViewBag.Title</title>
    @Styles.Render("~/bundles/css/htmlArea")
    @Styles.Render("~/bundles/css/css")
    @Styles.Render("~/bundles/css/fullcalendar")
    @*@Styles.Render("~/bundles/css/Bootstrap")*@
    <link href="/Content/fullcalendar.print.css" rel="stylesheet" media="print">
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")

    @Scripts.Render("~/bundles/fullcalendar")
    @Scripts.Render("~/bundles/ko")



    @Scripts.Render("~/bundles/jHtmlArea")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

</head>
<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date(); a = s.createElement(o),
        m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-72397914-1', 'auto');
    ga('send', 'pageview');

</script>
<script>
    $(document).ready(function () {
        $.ajaxSetup({ cache: false });
    });



</script>
<body>



    <div class="site-header">
        @Html.Partial("_Header")
    </div>
    <div class="navbar navbar-inverse navbar-static-top">
        <div class="container">

            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("ABATE of Washington", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>
                        @Html.ActionLink("Home", "Index", "Home")
                        <ul class="dropdown-menu" role="menu">
                            <li>@Html.ActionLink("About ABATE", "About", "Pages")</li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        @Html.ActionLink("About", "About", "Home", null, new { @class = "dropdown-toggle", @data_toggle = "dropdown", aria_expanded = "false", role = "button" })
                        <ul class="dropdown-menu" role="menu">
                            <li>@Html.ActionLink("About ABATE", "About", "Home")</li>
                            <li>@Html.ActionLink("Our History", "History", "Home")</li>
                            <li>@Html.ActionLink("Join ABATE", "Join", "Home")</li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        @Html.ActionLink("State", "State", "Pages", null, new { @class = "dropdown-toggle", @data_toggle = "dropdown", aria_expanded = "false", role = "button" })
                        <ul class="dropdown-menu" role="menu">
                            <li>@Html.ActionLink("Contacts", "Contacts", "State")</li>
                            <li>@Html.ActionLink("Meetings", "Meetings", "State")</li>
                            <li>@Html.ActionLink("Documents and Forms", "Documents", "State")</li>
                            <li>@Html.ActionLink("ByLaws and Policies", "ByLaws", "State")</li>
                            @*<li>@Html.ActionLink("Officer Reports", "OfficerReports", "State")</li>*@
                        </ul>
                    </li>
                    <li class="dropdown">
                        @Html.ActionLink("Chapters", "Chapters", "Pages", null, new { @class = "dropdown-toggle", @data_toggle = "dropdown", aria_expanded = "false", role = "button" })
                        <ul class="dropdown-menu" role="menu">
                            <li>@Html.ActionLink("Chapter Information", "ChapterList", "Chapters")</li>
                            @*<li>@Html.ActionLink("Chapter Map", "ChapterMap", "Chapters")</li>*@
                            <li>@Html.ActionLink("Documents and Forms", "Documents", "Chapters")</li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        @Html.ActionLink("Legislative", "Legislative", "Pages", null, new { @class = "dropdown-toggle", @data_toggle = "dropdown", aria_expanded = "false", role = "button" })
                        <ul class="dropdown-menu" role="menu">
                            @*<li>@Html.ActionLink("News and Alerts", "News", "Legislative")</li>*@
                            @*<li>@Html.ActionLink("Current Bills", "CurrentBills", "Legislative")</li>*@
                            <li>
                                @*@Html.ActionLink("Representatives", "Representatives", "Legislative")*@
                                <ul class="list-style-none">

                                    @*<li>@Html.ActionLink("State Legislators", "StateLegislators", "Legislative")</li>*@
                                    @* <li>@Html.ActionLink("State Congressmen", "StateCongressmen", "Legislative")</li>*@
                                    @*<li>@Html.ActionLink("US Representatives", "USRepresentatives", "Legislative")</li>*@
                                </ul>
                            </li>
                            <li>@Html.ActionLink("Black Thursday", "BlackThursday", "Legislative")</li>
                            <li>@Html.ActionLink("How To Contact", "HowToContact", "Legislative")</li>
                            <li>@Html.ActionLink("Documents and Forms", "Documents", "Legislative")</li>
                            <li>@Html.ActionLink("News from your LAO", "FromYourLAO", "Legislative")</li>
                            @*<li>
                                @Html.ExternalLink("http://www.usdefender.net/", "US Defenders", new { target = "_blank" })
                                <ul class="list-style-none">
                                    <li>@Html.ActionLink("Defenders News", "DefendersNews", "Legislative")</li>
                                    <li>@Html.ActionLink("CTAs and Alerts", "CTAs", "Legislative")</li>
                                </ul>
                            </li>*@
                        </ul>
                    </li>


                    <li class="dropdown">
                        @Html.ActionLink("Citations", "Citations", "Pages", null, new { @class = "dropdown-toggle", @data_toggle = "dropdown", aria_expanded = "false", role = "button" })
                        <ul class="dropdown-menu" role="menu">
                            @*<li>@Html.ActionLink("Citations News", "News", "Citations")</li>*@
                            <li>@Html.ActionLink("Legal Letters", "LegalLetters", "Citations")</li>
                            <li>@Html.ActionLink("Documents and Forms", "Documents", "Citations")</li>
                            <li>@Html.ActionLink("Register a Citation", "RegisterCitation", "Citations")</li>

                        </ul>
                    </li>
                    @*<li>
                            @Html.ActionLink("Membership", "Membership", "Pages")

                        </li>*@
                    <li class="dropdown">
                        @Html.ActionLink("News", "News", "Pages", null, new { @class = "dropdown-toggle", @data_toggle = "dropdown", aria_expanded = "false", role = "button" })
                        <ul class="dropdown-menu" role="menu">
                            @*<li>@Html.ActionLink("ABATE State News", "News", "News")</li>*@
                            <li>@Html.ActionLink("Freedom Newsletter", "FreedomNewsletter", "News")</li>

                            <li>
                                @Html.ExternalLink("http://mrf.org", "Motorcycle Rider's Foundation", new { target = "_blank" })
                                @*@Html.ActionLink("Motorcycle Riders Foundation", "MRFNEws", "Pages", null, new { @class = "dropdown-toggle", @data_toggle = "dropdown", aria_expanded = "false", role = "button" })*@
                                <ul class="list-style-none">
                                    @*<li>@Html.ActionLink("MRF News", "MRFNews", "News")</li>*@
                                    <li>@Html.ActionLink("Flyers and Forms", "FlyersForms", "News")</li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        @Html.ActionLink("Events", "Events", "Pages", null, new { @class = "dropdown-toggle", @data_toggle = "dropdown", aria_expanded = "false", role = "button" })
                        <ul class="dropdown-menu" role="menu">
                            <li>@Html.ActionLink("Event Calendar", "EventCalendar", "Events")</li>
                            @*<li>@Html.ActionLink("Black Thursday", "BlackThursday", "Legislative")</li>*@
                            @*<li>@Html.ActionLink("Freedom Rally", "FreedomRally", "Legislative")</li>*@
                            <li>@Html.ActionLink("Swap Meet", "SwapMeet", "Events")</li>
                            <li>@*@Html.ActionLink("Fall Swap Meet", "swapmeet", "Events")*@</li>
                            <li>@Html.ActionLink("Spring Opener", "SpringOpener", "Events")</li>

                        </ul>
                    </li>
                    @*<li class="dropdown">
                            @Html.ActionLink("Other", "Other", "Pages", null, new { @class = "dropdown-toggle", @data_toggle = "dropdown", aria_expanded = "false", role = "button" })
                            <ul class="dropdown-menu" role="menu">
                                <li>@Html.ActionLink("Photo Gallery", "Gallery", "Other")</li>
                                <li>@Html.ActionLink("Down Rider", "DownRider", "Other")</li>
                                <li>@Html.ActionLink("Other Links", "OtherLinks", "Other")</li>
                            </ul>
                        </li>*@
                   
                        <li class="dropdown">
                            @Html.ActionLink("My Account", "Other", "Pages", null, new { @class = "dropdown-toggle", @data_toggle = "dropdown", aria_expanded = "false", role = "button" })
                            <ul class="dropdown-menu" role="menu">
                                @Html.Partial("_LoginPartial")
                            </ul>
                        </li>
                    
                </ul>
                @*@Html.Partial("_LoginPartial")*@


            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()

        <hr />
    </div>
    @Html.Partial("_LoginModal", new ABATE.Washington.Web.Models.LoginViewModel())

    <footer class="footer">
        <div class="text-center">
            <ul class="list-inline">
                <li>© ABATE of Washington. All rights reserved </li>
                <li>@Html.ActionLink("Contact Us", "Contact", "Home")</li>
                <li>@Html.ActionLink("Legal Disclaimer", "LegalDisclaimer", "Home")</li>
                <li>Ride Safe!</li>
                @*<li>Site Map</li>*@

            </ul>
        </div>
    </footer>

</body>
</html>
