﻿@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{



    <li>@Html.ActionLink("Manage", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" }) </li>
    <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
    
    
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
    { 
         @Html.AntiForgeryToken()
        
        @Html.Hidden("returnUrl", Request.Url)
    }

}
else
{

    @*<li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>*@
    <li><a href="#" onclick="$('#loginModal').modal('show')"> Log in</a></li>

}


